[2014-04-24 11:41] mrdavidlaing opened #3 "Rename to logsearch-filters-cf"
As per discussion on https://github.com/logsearch/logsearch-boshrelease/issues/10, extra filter repos should be named  _logsearch_-filters-{name}

[2014-04-29 05:48] #3 closed, assigned to nobody

[2014-05-20 10:04] mrdavidlaing opened #4 "Parse loggregator messages shipped via Syslog that contain JSON"
Parse the logs showing in http://api.meta.logsearch.io/_plugin/kibana/index.html#/dashboard/elasticsearch/WatcherBot

some come with JSON ([updated](https://github.com/logsearch/logsearch-filters-cf/issues/4#issuecomment-43644273)):

[code]

and some don't

[code]

[2014-06-05 18:21] #4 closed, assigned to nobody

[2014-06-05 20:31] dpb587 opened #7 "Not all vcap messages are JSON"
For example... the following [document](http://api.meta.logsearch.io/logstash-2014.06.05/relp_cf/YTLKANrZQeqSY2JDFEdaTw?pretty) does not have JSON data. We should probably do a JSON check similar to loggregator.

    {
        "@version": "1",
        "@timestamp": "2014-06-05T20:13:02.956+00:00",
        "_logstash_input": "relp",
        "host": "192.0.2.14:40625",
        "@type": "relp_cf",

[2015-02-24 16:57] drnic opened #11 "Tests failing"
[code]

[2015-02-28 21:57] devcamcar commented on #11
I just ran into the same

[2015-02-28 22:45] devcamcar commented on #11
PR up for this: https://github.com/logsearch/logsearch-filters-cf/pull/12

[2015-03-02 18:22] devcamcar opened #13 "How do you use this with logsearch-boshrelease?"
With https://github.com/logsearch/logsearch-filters-cf/issues/11 applied, I've got this building and outputting the cloudfoundry.conf file, but it's unclear how I am supposed to add this to the bosh release to deploy the Cloud Foundry configuration.  I'm sure it's simple but I'm fairly new to Logsearch.  Thanks!

[2015-03-03 10:57] mrdavidlaing opened #14 "Migrate to new logsearch-addon structure"
We're busy finalising a new structure for a logsearch-addon, which will shortly be applied to this repo.  This issue is to capture any discussion around how this will affect downstream users of this repo, so as to try and make the changes as painless as possible.

0.  Rename repo to logsearch-for-cloudfoundry
0.  Update folder structure to the following:
[code]
0. Tag and publish Github release

[2015-03-03 12:01] mrdavidlaing commented on #14
These changes will definitely affect https://github.com/cloudfoundry-community/logsearch-boshworkspace.

Specifically, cloudfoundry-community/logsearch-boshworkspace currently pulls in this whole addon repo, and then builds and runs tests to get the artefacts in `target/**/*.conf`

Under the new structure this will work; but is unnecessary since the compiled `artefacts/` will be committed under th

[2015-03-03 12:03] mrdavidlaing opened #15 "Give collaborators commit access"
I prefer a pull request based workflow where the PR originates in the same repo as the target, since then feedback can be given by committing changes to the PR branch

@mention me if you want commit access, and have signed the CLA

[2015-03-03 12:04] mrdavidlaing commented on #15
@drnic, @rkoster, @longnguyen11288, @malston - I'm giving you commit access to this repo.

Please leave commiting to master to me; but feel free to commit to branches and raise a PR to get those changes merged into master

[2015-03-03 14:37] tyyko commented on #13
I think that you can just move it to logsearch-boshrelease/examples/filters.conf and then deploy logsearch with a template like https://github.com/logsearch/logsearch-boshrelease/blob/develop/examples/bosh-lite.yml that will search for that file.

Meanwhile that filters will not work with the last CF release, they are working on a new version of these filters

@mrdavidlaing I have a match pattern

[2015-03-04 06:38] mrdavidlaing commented on #13
@devcamcar We're working with https://github.com/cloudfoundry-community/logsearch-boshworkspace to get logsearch working with the latest version of CF.  Please track that repo.

[2015-03-04 06:38] #13 closed

[2015-03-13 22:02] #14 closed

[2015-03-13 22:03] mrdavidlaing commented on #11
All tests are now passing

[2015-03-13 22:03] #11 closed

[2015-03-18 06:55] mrdavidlaing opened #17 "Add support for doppler firehost logs"
Doppler firehost logs look like this:

[code]

Parse them!

[2015-03-18 08:53] simonjohansson commented on #17
Might come in handy
https://github.com/SpringerPE/firehose-to-syslog/blob/master/grok-pattern/patterns/firehose.conf

[2015-03-18 09:06] mrdavidlaing commented on #17
@simonjohansson - Why thank you kind sir!

[2015-03-18 10:17] #17 closed

[2015-03-20 17:11] mrdavidlaing opened #19 "Package SpringerPE/firehose-to-syslog as custom ingestor"
We need a custom ingestor to consume CloudFoundry's Doppler Firehost (which is delivered via Websockets); and needs to authenticate with Cloud Foundry's UUA component.

The nice folks over at https://github.com/SpringerPE/firehose-to-syslog have just such a component; so lets just use that!

[2015-03-20 17:12] mrdavidlaing commented on #19
@simonjohansson - Could you add some licensing info to https://github.com/SpringerPE/firehose-to-syslog please - ideally MIT or APACHE v2.

[2015-03-20 23:23] simonjohansson commented on #19
@mrdavidlaing sure thing. All have a go at it on Monday, and keep implementing the events stuff you need.

[2015-03-23 10:21] simonjohansson commented on #19
@mrdavidlaing added licence, will start working on the extra events today if no fires crop up :)

[2015-03-23 17:17] mrdavidlaing commented on #19
@simonjohansson - thanks!  I'll take over packaging firehose-to-syslog into a bosh release

[2015-03-23 18:13] simonjohansson commented on #19
@mrdavidlaing great!

Let me know if you need any help.

[2015-04-01 09:41] mrdavidlaing commented on #15
Welcome @simonjohansson!

[2015-04-01 09:56] simonjohansson commented on #15
Danke!

[2015-04-01 10:11] mrdavidlaing commented on #15
Simon,

Have you accepted the invite yet?  Github says it is pending, and Gitter
won't let me add you to the chatroom until you are a member of the
logsearch org

On 1 April 2015 at 10:56, Simon Johansson <notifications@github.com> wrote:

--
David Laing
logsearch.io - build your own open source cloud logging cluster
http://davidlaing.com

[2015-04-01 10:19] simonjohansson commented on #15
@mrdavidlaing just accepted.

[2015-04-01 10:21] mrdavidlaing commented on #15
Cool - Gitter has let me invite you - see https://gitter.im/logsearch

On 1 April 2015 at 11:19, Simon Johansson <notifications@github.com> wrote:

--
David Laing
logsearch.io - build your own open source cloud logging cluster
http://davidlaing.com

[2015-04-03 10:20] mrdavidlaing commented on #19
Done - see https://github.com/logsearch/logsearch-for-cloudfoundry#adding-to-an-existing-cloud-foundry--logsearch-deployments

[2015-04-03 10:20] #19 closed

[2015-04-03 10:28] mrdavidlaing opened #23 "Add multi-tenancy"
Access to Logsearch should be restricted to the Users of a CF cluster, and those users Orgs/Spaces/Roles and permissions.

Specifically, when accessing the Logsearch UI (Kibana) or API; a user should be bounced to the CF clusters UAA server to obtain an OAuth2 token.  All queries to Logsearch should have an automatic filter attached to them that only returns data for those apps that the user has a

[2015-04-15 05:57] mrdavidlaing commented on #23
This feature is being added by #24

[2015-04-15 05:57] #23 closed

[2015-04-17 11:03] fbonelle opened #25 "Compiling firehose-to-syslog should not require Internet access for the compilation VMs"
Hi,

I have an issue when I try to deploy logsearch for cloudfoundry. firehose-to-syslog compilation fail due to internet download failure:

It would be better that there is no internet download during the bosh deploy.

Thanks

[code]

[2015-04-19 06:49] mrdavidlaing commented on #25
@fbonelle - thanks for the bug report.

Looking at the error: `curl: (6) Could not resolve host: github.com`; I think the issue is that your compilation VM doesn't have internet access.

Could you verify whether that is the case or not?

[2015-04-19 06:52] mrdavidlaing commented on #25
heh - just noticed that you have made that exact point.

I agree; you shouldn't need internet access during the compiliation phase.  `firehose-to-syslog` is currently a bit of a moving target; I'll revisit this issue once its dependancies have stabilised.

[2015-04-20 07:00] mrdavidlaing commented on #15
@shinji62, I've just invited you to join the  logsearch-for-cloudfoundry.

Please accept the invitation so you can join us in the https://gitter.im/logsearch chat.

[2015-04-20 07:36] fbonelle commented on #25
Hello,

Yes, thanks. For our corporate deployment, we don't want compilation VMs have internet access.

As a temporary hack, how can I make these compilations vms have internet access thew our proxy ?

[2015-04-20 07:56] mrdavidlaing commented on #25
I'm sorry, but I have no idea.

It looks like the golang compiler is attempting to access the net; so I
guess you would need to figure out how to tell it to use your proxy.

On 20 April 2015 at 08:36, François Bonelle <notifications@github.com>
wrote:

--
David Laing
logsearch.io - build your own open source cloud logging cluster
http://davidlaing.com

[2015-04-23 06:17] mrdavidlaing commented on #25
@fbonelle - I've updated the firehose-to-syslog package; which I believe no longer requires 'net access for compilation.

Could you give it another try please

[2015-04-24 11:00] fbonelle commented on #25
Hello,

Thanks, the compilation phase is now successfull.

[2015-04-24 11:00] #25 closed

[2015-04-24 18:59] shinji62 commented on #25
Nice :)

[2015-05-13 08:57] simonjohansson opened #29 "New proper release of firehose-to-syslog released."
https://github.com/cloudfoundry-community/firehose-to-syslog/releases/tag/0.1.0

I also included precompiled binaries in the release to make the compile step easier and to remove the dep on go.

[2015-05-20 17:00] rkoster opened #30 "Change geoip.location type to geopoint"
This way the Tile Map visualisation should work

[2015-05-21 10:06] rkoster commented on #30
I was able to get it to work with the following index template:
[code]

Which is basically the same as [this template](https://github.com/logsearch/logsearch-boshrelease/blob/develop/jobs/elasticsearch/templates/config/templates/logstash_default.json.erb) with the addition of:
[code]

[2015-05-25 07:36] tyyko opened #31 "missing deploy info for bosh-lite: warden"
As the title:
[code]
Is not for bosh-lite

``` resource_pool: small_z1 ``` should be ```  resource_pool: warden ```

``` networks: z1 ``` should be ??

Thanks

Edit:

Tried the /logsearch-for-cloudfoundry-boshrelease and I got this:

[code]

more debug info at http://pastebin.com/DPeHtnKN

[2015-05-25 15:52] simonjohansson commented on #31
Hi!

[code]

That looks to be from a "normal" CF deployment rather than a bosh-lite deployment.

My suspicion is that more people are going to deploy this on a real deployment than a bosh-lite one, so to me it makes more sense to show that setup in the README.

Docs should be clear about how to deploy in real deployment vs bosh-lite though to remove any confusion.

But to answer your question, net

[2015-05-26 07:41] tyyko commented on #31
Many Thanks for your help, I got it working with:

[code]
I may be useful to point this too on the readme, for bosh-lite users that want to test before deploying in production!

I have other questions but I'm opening different issues to keep the topics separated an searchable!

[2015-05-26 07:54] tyyko opened #32 "What about the reverse proxy for multi-tenancy & Kibana dashboards?"
As title, the proxy setup for multi-tenancy showed in the video seems to be the main feature of this new release! But there is no documentation about that!

How to do it?

It may be useful to share the kibana dashboards too! (better pre-packaged on the deployment but also as a link here can be good)

Thank you!

[2015-05-26 08:23] simonjohansson commented on #31
Agreed, the documentation should be clearer!

If you are satisfied with the answer, would you mind closing the issue?

[2015-05-26 08:24] simonjohansson opened #33 "Better documentation."
Provide easy to follow documentation for deploying into a real deployment and a bosh-lite one.

[2015-05-26 09:59] tyyko commented on #31
sure, Thanks!

[2015-05-26 09:59] #31 closed

[2015-05-28 09:17] thansmann opened #34 "Looks like a minor bug in the README.md - there is no "templates:" entry"
Line 41 of README.md has a "templates:" line, but there are no templates defined. Looks like there is one "ingestor_cloudfoundry-firehose"

[2015-05-30 20:53] bonzofenix commented on #32
@tyyko I found that app at `src/cf-app-logs` still have not been able to make it run yet. Do not know the permissions required by the uaa for it. See its manifest.yml requires a uaa client.

[2015-06-03 22:19] drnic opened #35 "Publish bosh release into bosh.io or s3 or github release"
Can you please upload final release tgz into bosh.io or s3 or github releases?

[2015-06-04 16:51] longnguyen11288 opened #36 "Rename ingestor_cloudfoundry-firehose job to ingestor_cloudfoundry_firehose"
Keep things consistent and don't be butt ugly

[2015-06-05 02:20] shinji62 commented on #36
lol

[2015-06-05 05:34] mrdavidlaing commented on #36
I named it like this because I consider `cloudfoundry-firehose` a single concept.

I'm trying to say `ingestor` of type `cloudfoundry-firehose`.

In my mind this is consistent:
* `ingestor_syslog` => `ingestor` of type `syslog`
* `ingestor_relp` => `ingestor` of type `relp`

Sorry for asthetic offence caused.  If it makes you feel better, consider this job's name as the ugly one that shows how bea

[2015-06-05 05:34] #36 closed

[2015-06-05 14:05] shinji62 opened #37 "commiter ubuntu ?"
Not sure you is commiting but setting proper authors can be useful.
I see some "ubuntu" user.

[2015-06-05 14:15] shinji62 commented on #35
Full release is there no ? https://logsearch-for-cloudfoundry-boshrelease.s3.amazonaws.com/boshrelease-logsearch-for-cloudfoundry-2.tgz

[2015-06-05 20:47] drnic opened #38 "Error unmarshaling app json: cannot unmarshal number into Go value of type string"
I am deploying this bosh release v2 with v19 of logsearch; and the ingestor/0 is failing and in the ingestor_cloudfoundry-firehose logs I see:

[code]

Where/how do I go about debugging that?

in the _ctl it looks ok I guess:

[code]

[2015-06-05 20:48] drnic commented on #38
Using CF v205

[2015-06-05 21:13] drnic commented on #38
Pfft, can't find `Error unmarshaling` in any repos

[2015-06-05 21:50] drnic commented on #38
Found that error string in go-cfclient repo

[2015-06-05 22:05] drnic opened #39 "Please tag when you cut bosh releases"
It's hard to figure out exactly what is in a bosh release (e.g v2) without a git tag (which feeds into .gitmodule)

[2015-06-05 22:05] drnic commented on #39
Thanks at least for putting `v2` in one of the commit msgs edb3a858d61a5afb989bf3cdac5717107f5d4b63

[2015-06-06 14:48] drnic commented on #38
What versions of CF should logsearch-for-cloudfoundry work with?

Still confused about the error - it only seems like it might come from go-cfclient parsing the `/v2/apps` API. Not sure what issues that might cause.

[2015-06-06 16:50] mrdavidlaing commented on #38
@drnic, I've had success with v205 and v207.

Can you try v3 of `logsearch-for-cloudfoundry` - it contains an updated `firehose-to-syslog`, which in turn contains an updated `go-cfclient`

https://logsearch-for-cloudfoundry-boshrelease.s3.amazonaws.com/boshrelease-logsearch-for-cloudfoundry-3.tgz

[2015-06-06 16:53] mrdavidlaing commented on #39
My bad.  Have added a v3 tag, and will look at formalising the release process going forward

[2015-06-06 16:53] #39 closed

[2015-06-06 16:54] mrdavidlaing commented on #37
This snuck in from one of my test VMs; not entirely sure why.  :cry:

[2015-06-06 16:54] #37 closed

[2015-06-06 16:55] mrdavidlaing commented on #33
An excellent idea - I just need to get the install process to a stage where its simple enough to document.

[2015-06-06 16:56] mrdavidlaing commented on #32
@tyyko, @bonzofenix - I'm busy creating a bosh errand to deploy the cf-app-logs proxy; which should make this clearer.  Sorry for the confusion

[2015-06-06 16:58] mrdavidlaing commented on #29
@simonjohansson - until `firehose-to-syslog` is very stable, I think its best that we keep compiling from source so we can use bleeding edge versions.

But thanks for the heads up!

[2015-06-06 16:58] #29 closed

[2015-06-07 22:28] drnic opened #42 "release tgz accidentally added to git repo"
An 80+ Mb release tgz was accidentally added to the repo https://github.com/logsearch/logsearch-for-cloudfoundry/blob/master/logsearch-for-cloudfoundry-boshrelease/releases/logsearch-for-cloudfoundry/logsearch-for-cloudfoundry-3.tgz

Can we remove it?

a) anyone can recreate this with `bosh create release --with-tarball <path/to/release.yml>`
b) people can download it from bosh.io when you get it

[2015-06-08 05:17] drnic commented on #38
@mrdavidlaing I don't think the package got updated in v3; or something odd is happening - I upgraded to v3 but no new packages were compiled.

Also, when looking at the version in v3 of that package, it seems its also in v2 of the release https://github.com/logsearch/logsearch-for-cloudfoundry/search?utf8=%E2%9C%93&q=49f3d4997d4cd69676bc6e76de678aaebb21c02b

Ideas?

[2015-06-08 05:18] drnic commented on #38
The diff between v2 and v3:

[code]

[2015-06-08 10:32] simonjohansson commented on #38
@drnic we will have to make a better effort of documenting in firehose-to-syslog which release works with which cf-release. THere have been many breaking changes. :(

[2015-06-08 10:33] mrdavidlaing commented on #38
@drnic, @simonjohansson - we really need a Concourse build pipeline for making logsearch-for-cloudfoundry releases; since I keep making these dumb errors.

Either of you interested in getting involved in making one?

[2015-06-08 10:41] mrdavidlaing commented on #38
@drnic  not sure why your diff isn't picking up this change - https://github.com/logsearch/logsearch-for-cloudfoundry/commit/ec5db414a8a0325559d2d6596fe022d27098bdcd#diff-eb92f1fbaab68668b8fae8dba7254bf3

Has it got something to do with it being on a branch, which I have subsequently merged into `master`?

[2015-06-08 13:21] drnic commented on #38
@mrdavidlaing my diff was a diff between v2.yml and v3.yml; see that the same version/fingerprint exists in v2 for `firehose-to-syslog` package:

* v2 https://github.com/logsearch/logsearch-for-cloudfoundry/blob/master/logsearch-for-cloudfoundry-boshrelease/releases/logsearch-for-cloudfoundry/logsearch-for-cloudfoundry-2.yml#L9
* v3 https://github.com/logsearch/logsearch-for-cloudfoundry/blob/mast

[2015-06-08 13:21] drnic commented on #38
@simonjohansson its tricky when other ppl show up and start trying to use your stuff :D

[2015-06-08 18:07] dpb587 commented on #42
I think I did something strangely in the process, but all the other filter-branch commands from docs were rewriting the whole repository history and not just these commits. So, I've gone ahead with pushing this anyway given this whole thing is already a naughty git action.

Affected commits have been rewritten...

    old commit                               rewritten to

[2015-06-08 18:07] #42 closed

[2015-06-08 18:12] dpb587 commented on #42
(Also, thanks for creating the issue about it)

[2015-06-08 18:36] drnic commented on #38
I've resolved my original issue - the log error was a red herring. I thought indexes were created once data started coming in; I didn't realise that data was being ingested just fine; and I need to create an index.

[2015-06-08 18:36] #38 closed

[2015-06-09 05:42] mrdavidlaing opened #43 "Add Authentication via kibana-server plugin using CF UAA OAuth2"
Core logsearch-boshrelease intentionally doesn't include authentication ( [discussion](https://github.com/logsearch/logsearch-boshrelease/pull/124#issuecomment-100312238) ); expecting to be locked away via firewall rules.

The [`push-kibana` errand](https://github.com/logsearch/logsearch-for-cloudfoundry/tree/master/logsearch-for-cloudfoundry-boshrelease/jobs/push-kibana) deploys an instance of Ki

[2015-06-09 05:54] mrdavidlaing commented on #38
@drnic - I'm pleased you solve your error; but confused with your need to create an index.  If you're talking about Elasticsearch indexes; these should definately be created automatically (a new one should be created every day, when logs with that day's timestamp start flowing in)

[2015-06-09 05:56] shinji62 commented on #43
I thought the user authentification was already in place.
"cf-users (those deploying apps to the CF cluster) see a tenanted view of the doppler firehose data stored in Logsearch for just the apps in spaces they are members of. They access the data via an app deployed on CF, and are required to authenticated against the CF's UAA component using the same credentials they would use to interact via th

[2015-06-09 06:08] mrdavidlaing commented on #43
@shinji62,  You are correct; we currently have a spring app that runs on CF as a "multi-tenant" proxy; but I think this should be depreciated in the interests of fewer technology stacks to maintain, since with Kibana's new plugin system the auth functionality (and eventually the multi-tenant functionality) can be implemented in Kibana itself

[2015-06-09 06:14] shinji62 commented on #43
If this can reduce complexity .. not sure this plugin support authentication based on logs, ex this user can access to this application logs.

[2015-06-09 06:22] rkoster commented on #38
I think he ment `Index Pattern`, this will probably not be necessary once the [push-kibana](https://github.com/logsearch/logsearch-for-cloudfoundry/blob/master/logsearch-for-cloudfoundry-boshrelease/jobs/push-kibana/templates/bin/run#L47) errand is included in a final release.

[2015-06-09 06:24] shinji62 commented on #33
Already try to fix some typo https://github.com/logsearch/logsearch-for-cloudfoundry/pull/40

[2015-06-16 14:52] Ykisialiou opened #45 "It's impossible to install ingestor_cloudfoundry-firehose and logsearch/ingestor_syslog on the same VM"
Hello. While trying create a single job for ingestors (logsearch/ingestor_syslog and  logsearch-for-cloudfoundry/ingestor_cloudfoundry-firehose)  i'm receiving this error. Shouldn't this templates be able to live on single bosh job? Thank you.

Error 80011: Package name collision detected in job `ingestor': template `logsearch/ingestor_syslog' depends on package `logsearch/logstash', template `log

[2015-06-16 14:55] mrdavidlaing commented on #45
I don't see why not - its just a case of renaming the `logsearch-for-cloudfoundry/logstash` package to something like `logsearch-for-cloudfoundry/logstash_for_ingestor_cloudfoundry-firehose`

Feel free to submit a PR to make that change.

[2015-06-16 16:12] drnic opened #46 "Non-standard property label format"
bosh upload release https://logsearch-for-cloudfoundry-boshrelease.s3.amazonaws.com/boshrelease-logsearch-for-cloudfoundry-4.tgz

Can we switch to lower case, underscore for manifest properties to be consistent across all releases?

[2015-06-16 16:13] #35 closed

[2015-06-16 16:13] drnic commented on #35
Thanks for linking URL to v4 release notes

[2015-06-16 16:22] Ykisialiou commented on #45
Thank you for quick response. I'll do after some testing

[2015-06-23 21:37] bonzofenix opened #48 "Dashboard is RELP specific"
Hi David,

Our doppler stream logs though TCP; this sets the type of the log as __syslog__ instead of __relp__.
The [json file for the dasboards](https://github.com/logsearch/logsearch-for-cloudfoundry/blob/master/target/kibana4-dashboards.json) is relp specific.
Would you accept a PR with the json file turned into an erb and a property for the ingestor-for-cloudfoundry that sets the protocol?

Pl

[2015-06-24 04:38] mrdavidlaing commented on #48
First, thanks for picking up on this error and starting a discussion.

There should be a simpler way to solve this problem by filtering the logs shown in the dashboard by something that isn't protocol specific.

The queries behind the CF dashboards use a high level filter: `_type:"relp_cf"`.  Looking at the [filters](https://github.com/logsearch/logsearch-for-cloudfoundry/blob/master/src/logstash-

[2015-06-24 22:06] bonzofenix commented on #48
Today we worked on this. Your recommendation worked great. Unfortunately not all dashboards work out of the box for us. For example we receive Nats message with `source:Nats::Dea` instead of  `source:NatsStreamForwarder`. We also do not receive the app_name, we are using the app_id instead. We might be in an older version of CF. We will try to track this down tomorrow so that we can document for w

[2015-06-25 01:48] shinji62 commented on #48
For the application name nothing to do with CF, logsearch use https://github.com/cloudfoundry-community/firehose-to-syslog to ingest application logs and this app name logic is there.

But you need to supply an user with admin right or at least able to lookup user within the cc api.

[2015-06-25 04:28] mrdavidlaing commented on #48
@bonzofenix - FYI, we're using CF v205.

It appears that tying the standard dashboards to data in the log messages themselves is a bad idea.

I think that instead we should filter based on tags that we add during the parsing stage (like  `tag:cloudfoundry_vcap`).  That way we can adjust the filters to ensure that log messages from different versions of CF get the same tag, even if the data changes

[2015-06-25 05:06] malston commented on #48
Perhaps the refresh token has expired?

[2015-06-25 20:42] bonzofenix commented on #48
Ok this [PR](https://github.com/logsearch/logsearch-for-cloudfoundry/pull/49) fixes the relp issue. @shinji62 you were right about the apps_name issue, Upgrading and using the push-kibana errand fix it for us.

We will open if necessary a new issue for the NatsStreamForwarder once we identify the cause.

@cloud-dude && @bonzofenix

[2015-06-26 10:51] #48 closed

[2015-06-27 21:32] yatzek commented on #32
Hi,

Any progress on the bosh errand?

[2015-06-28 06:17] mrdavidlaing commented on #32
@yatzek, @tyyko, @bonzofenix

Please follow progress at https://github.com/logsearch/logsearch-for-cloudfoundry/issues/43 and https://github.com/logsearch/logsearch-for-cloudfoundry/pull/47

[2015-06-28 06:17] #32 closed

[2015-06-29 05:06] shinji62 opened #50 "firehose-to-syslog v1"
Hi,

We have cut the 1.0.0 release of https://github.com/cloudfoundry-community/firehose-to-syslog.

Some change in the option name but should not be so difficult to integrate.

This final version is the most stable one and we encourage to use it.

you will mostlikely have to use this options too :

[code]

Thanks

[2015-07-02 23:05] yatzek opened #51 "./bin/test fails"
Using oracle jdk1.8.0_45 on ubuntu 14.04:

./bin/test
mkdir -p target
rm -rf target/*
===> Building ...
cp src/kibana4-dashboards/kibana.json target/kibana4-dashboards.json
===> Artifacts:
target
├── kibana4-dashboards.json
└── logstash-filters-default.conf

0 directories, 2 files
===> Testing ...
 JAVA_OPTS="$JAVA_OPTS -XX:+TieredCompilation -XX:TieredStopAtLevel=1" vendor/logstash/bin/logstash r

[2015-07-03 14:02] yatzek commented on #51
Same results when run inside vagrant logsearch workspace:

[logsearch workspace] ~/src/logsearch-for-cloudfoundry ▸ git status
HEAD detached at v4
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git checkout -- <file>..." to discard changes in working directory)

	modified:   target/logstash-filters-default.conf

no changes added to commit (use "

[2015-07-05 07:12] #43 closed

[2015-07-07 18:59] cloud-dude opened #52 "Dashboards are not persistent after app is restart or redeploy"
Currently the dashboard import relies on the bosh push kibana errand. A possible solution to this would be to import through the manifest with the run command.

@mrdavidlaing We are thinking implementing this feature. What are your thoughts on the implementation?

Thanks,
@cloud-dude & @bonzofenix

[2015-07-08 05:47] mrdavidlaing commented on #52
@cloud-dude - Are you talking about how the `push-kibana` errand will overwrite the standard dashboards, or the fact that there is no way to "add" dashboards to the `push-kibana` errand?

For the case of overwrite; I think we should rename all the standard dashboards to have a `ro_` prefix, and then implement a plugin to prevent saves to them.

For the "how to add" case, there is a feature coming

[2015-07-23 08:42] bonzofenix opened #57 "whitelisting firehose messages by org"
We are currently facing the following situation:

- Stress tests on some apps can take down our ELK cluster.
- We want logsearch and l4cf only consuming operations apps logs that are in some specific cf orgs.

For this reason we would like to have l4cf only parsing logs from whitelisted Orgs.
@mrdavidlaing, @malston I would like your input on this.
Where do you think we should implement this? Amon

[2015-07-23 08:43] mrdavidlaing commented on #57
Could you provide some specifics?  How much load are you throwing at the apps, and a how many logs / second are they producing through the firehose?

[2015-07-23 08:44] mrdavidlaing commented on #57
Also, which bits of the ELK cluster fail?

[2015-07-23 09:01] bonzofenix commented on #57
We are currently persisting around 36gb worth of data per day (on average). Our ES cluster has 4 shards distributed on 8 ES persistent nodes. We seen 20k worth x 5sec. We think the last crash was due to too many writes and a corrupted shard on the ES cluster. We are working on setting disks on different Data stores to avoid disk IO limitations if any. We do not have stats on this so we are not sur

[2015-07-23 09:07] bonzofenix commented on #57
Long term we are thinking on having 2 deployments of Logsearch+l4cf per environment. We want one with predictable growth and longer logs retention for operations that we can monitor and relay on.  We will have another deployment that will be available for our cf users which we do not necessary mind if it goes down.

[2015-07-23 09:09] shinji62 commented on #57
What about adding a broker like kafka to offload the load to it ...
In firehose-to-syslog we already filter by message type, so maybe filtering here can make sens ...

[2015-07-23 09:17] simonjohansson commented on #57
@shinji62 Do you mead to be able to filter in firehose-to-syslog on arbitrary fields in events?

[2015-07-23 09:28] bonzofenix commented on #57
@shinji62 can you point out to the filtering that you mentioned? @simonjohansson looking into the code of firehose-to-syslog it should be fairly easy to implement. I do not know if the PR will be accepted or not.

[2015-07-23 09:37] simonjohansson commented on #57
@bonzofenix sure, but I double firehose-to-syslog is the right place for this as it should just be a forwarder for general messages you want to a aggregation tool.

[2015-07-23 09:40] mrdavidlaing commented on #57
Given the failure scenarios, I think its best to try filter the logs before they hit the queue.

Currently, the logs flow like this:

firehose  -->   [ingestor_cloudfoundry-firehose_ctl / firehose-to-syslog](https://github.com/logsearch/logsearch-for-cloudfoundry/blob/master/logsearch-for-cloudfoundry-boshrelease/jobs/ingestor_cloudfoundry-firehose/templates/bin/ingestor_cloudfoundry-firehose_ctl#

[2015-07-30 13:28] axelaris opened #61 "Improve filters approach"
Hi!
I'm trying to configure an ELK solution using https://github.com/axelaris/logsearch-for-cloudfoundry/tree/master/logsearch-for-cloudfoundry-boshrelease as ingestor + https://github.com/axelaris/logsearch-boshrelease as storage.

I found filters for parsing CF data (https://github.com/axelaris/logsearch-for-cloudfoundry/blob/master/target/logstash-filters-default.conf), and tried to apply it's

[2015-07-31 01:50] shinji62 commented on #57
@simonjohansson Yeah you are right firehose-to-syslog should be simple as possible.
So maybe the @mrdavidlaing idea make more sens.

[2015-08-04 11:40] pawel2-grape opened #62 "Cannot access Kibana"
Hi,
I've deployed logsearch-boshrelease v21 and then the logsearch-for-cloudfoundry v6.
After '<b>bosh run errand push-kibana</b>' I have new app (that's good) in new space - elk-for-pcf (that's also can be good).
The problem is I cannot access to this app by <b>logs.run.&lt;MY_ELASTIC_IP&gt;.xip.io</b>.
There is a message <i>"Uh oh. Something went amiss."</i>
And when I log in on the page <b>logi

[2015-08-05 15:38] datianshi opened #63 "Package name collision detected in job (upgrade from v3 to v6)"
I used to have an ingestor job that has firehose, syslog and relp all together
But when upgraded to v6
I got
Started preparing deployment > Binding templates. Failed: Package name collision detected in job `ingestor': template `logsearch-for-cloudfoundry/ingestor_cloudfoundry-firehose' depends on package `logsearch-for-cloudfoundry/logstash', template `logsearch/ingestor_relp' depends on `logsearc

[2015-08-14 02:29] shinji62 commented on #63
Related to https://github.com/logsearch/logsearch-for-cloudfoundry/issues/45 no ?

[2015-08-17 15:36] mrdavidlaing opened #66 "Support additional RequestBytesReceived in RTR logs"
https://github.com/cloudfoundry/gorouter/pull/82 introduces a new RequestBytesReceived field in the gorouter logs.

Sample of the new format is:
[code]

[2015-08-17 16:07] #66 closed

[2015-08-21 13:59] mrdavidlaing commented on #62
@pawel2-grape - Were you able to resolve this error, or are you still stuck?

If so, can you grab some of the logs from the Kibana logs app around the time when the error occurs

[code]

[2015-08-21 14:01] mrdavidlaing commented on #52
@cloud-dude & @bonzofenix,

I'm reworking how the dashboards are stored  / imported over at #67.  Lets move this conversation over there.

[2015-08-21 14:01] #52 closed

[2015-08-21 14:02] mrdavidlaing commented on #45
Closing in favour of #63

[2015-08-21 14:02] #45 closed

[2015-08-24 06:18] pawel2-grape commented on #62
I've deployed logsearch-boshrelease and that's all. Now I can access to Kibana 3 by private address of kibana machine on port 80 or 5601 (for Kibana 4).
I didn't resolve this problem, but now I'm using different manifest of CF and deal with something else.
But for sure I will return to this. Maybe I had a knowledge gap and now everything will be good...
You can close this issue for now, I will reo

[2015-08-24 06:38] mrdavidlaing commented on #62
Good luck!

[2015-08-24 06:38] #62 closed

[2015-09-09 08:11] mrdavidlaing opened #74 "Document minimum permissions required for firehose user"
The ingestor_cloudfoundry-firehose job uses the  [`properties.cloudfoundry.firehose_user` to connect to the CF firehose and to connect to the CF Cloud Controller to fetch information about which spaces/orgs apps belong in](https://github.com/logsearch/logsearch-for-cloudfoundry/blob/master/logsearch-for-cloudfoundry-boshrelease/jobs/ingestor_cloudfoundry-firehose/spec#L27)

Currently we default to

[2015-09-09 08:23] mrdavidlaing commented on #74
The `properties.cloudfoundry.firehose_user` spec property is passed through to the  [https://github.com/cloudfoundry-community/firehose-to-syslog library](https://github.com/logsearch/logsearch-for-cloudfoundry/blob/master/logsearch-for-cloudfoundry-boshrelease/jobs/ingestor_cloudfoundry-firehose/templates/bin/ingestor_cloudfoundry-firehose_ctl#L75), so that will dictate the permissions needed.

M

[2015-09-09 08:44] shinji62 commented on #74
We need to be able to read / call the API for the application name.

[2015-09-09 09:00] mrdavidlaing commented on #74
@shinji62 - is that not covered by `cloud_controller.read` ?

[2015-09-10 15:39] shinji62 commented on #74
I am worried this one only implies org space of the user...

[2015-09-10 15:41] shinji62 commented on #74
[code]

[2015-09-10 15:53] mrdavidlaing commented on #74
@shinji62 - excellent point; I wonder whether there is a scope permission that grants access to read data from all orgs, or whether you have to be a user who is a member of those orgs.

@simonjohansson - you have any idea?

[2015-09-10 16:59] shinji62 commented on #74
Member who have access to these orgs should work with .read

but .admin is more comfortable :)
Most of other tile use admin credentials anyway

[2015-10-08 09:36] wkielas opened #77 "No permission separation from normal/admin users"
I have created a new CF user with only the OrgManager permission for one organization.
When logging in to the `logs` app and authenticating myself as the new CF user I see all of the Cloud Foundry logs, including nats/router logs.

How does the current version of the Kibana authentication plugin offer multi-tenancy? Is there any way to create a user that will be restricted only to seeing his own a

[2015-10-08 09:59] mrdavidlaing commented on #77
This feature is broken in the current release; it will be added back as soon as Kibana 4.2 becomes stable.

[2015-10-08 09:59] #77 closed

[2015-10-16 14:35] simonjohansson opened #79 "New field in RTR logs cause failure."
x_forwarded_proto is now in the RTR logs.

[2015-10-19 06:42] mrdavidlaing opened #80 "Remove bundled logstash from ingestor_cloudfoundry-firehose job"

[2015-11-16 12:18] keymon commented on #7
In this other project, we solved the issue with these commits in our copy of the filters:
 * https://github.com/alphagov/cf-terraform/commit/6129380e4a8c1b243033c45acdbc90643ccb182a
 * https://github.com/alphagov/cf-terraform/commit/41d0160dec279bc4b69b3841693c5ad81950bf00

We need to do a proper PR on this repo, but work needs to be prioritised.

[2015-11-16 12:26] keymon opened #82 "Elasticsearch error inserting entries for some messages"
We got found this error for some messages (note, the message is truncated).

[code]

We think the issue might be related to the field `data.reponse_headers.X-Cf-Requestid`, because it has upper case, but we tried to lowercase all the keys with a ruby filter with this code:

[code]

but I was not successful.

Finally, I decided just drop all the `data` field:

https://github.com/alphagov/cf-terrafo

[2016-01-04 12:29] emirozer opened #83 "Refer related breaking issue from logsearch-boshworkspace repo"
https://github.com/cloudfoundry-community/logsearch-boshworkspace/issues/19

[2016-01-04 12:30] emirozer commented on #83
There is no "logsearch-for-cloudfoundry-boshrelease" directory.

[2016-01-12 12:34] mrdavidlaing commented on #74
@shinji62 - for new we'll just connect with the admin user

[2016-01-12 12:34] #74 closed

[2016-03-02 18:34] tomsherrod opened #91 "Any update on the doc to get started/install?"
Pointers on giving this a go?
The integration with logsearch-core?

[2016-03-07 17:59] cromega opened #93 "job name/instance index is not extracted in uaa audit logs"
**@source.name** appears as `%{jobname}/%{jobindex}"` in UAA audiot logs. The fields are not extracted from the extended syslog params.

[2016-03-09 11:28] mrdavidlaing opened #94 "Issues with Kibana UAA Auth integration"
To implement multi-tenant access, the current Kibana UAA plugin [grabs the orgs and spaces](https://github.com/stayup-io/kibana-cf_authentication/blob/ef2d37d04a8c093ce3bc7481aa9791290e23c46c/index.js#L109-L117) that a user is a member of, and attempts to store them in its (encrypted) session cookie.

This information is then passed extracted and [passed through on every request proxied to Elastic

[2016-03-09 12:02] mrdavidlaing commented on #94
PIvotal have decided not to support multi-tenant access to Elasticsearch; so Pivotal engineers won't be contributing the above suggested code fix.

I'm be happy to support anyone who wants to pick up and implement this feature - just drop me an email at dlaing@pivotal.io

[2016-03-11 17:43] MaheshRudrachar commented on #94
Hi mrdavidlaing,

I am in process of utilizing kibana-cf-authentication plugin for multt-tenant filtering access to elasticsearch. I found few issues in elastic-search plugin but got it fixed related to TermQuery builder. As you correctly mentioned, now I am stuck in redirection loop because user i.e, Admin/User having more Orgs and spaces than expected.

I would need your help in implementing the

[2016-03-14 11:03] mrdavidlaing commented on #94
@MaheshRudrachar - I'm sorry; I don't have any example code I can share.

However, the process you have outlined sounds exactly right for me.

We're going to be moving this repo over to cloudfoundry-community this week; at which time I'll submit a PR containing the locations where I think the code should go which should give you a place to start.

[2016-03-15 08:58] MaheshRudrachar commented on #94
Sure. Thanks a lot...

[2016-03-15 10:06] mrdavidlaing opened #96 "Migrate to github.com/cloudfoundry-community"
Following the acquisition of stayUp[1]; Pivotal have decided not to continue to support all both the operator AND developer use-cases of this logsearch-for-cloudfoundry project.  Specifically Pivotal will only be incorporating the operator focussed use-cases into their commercial PCF offerings.

Going forward; you should be aware of the following repositories:

1.  https://github.com/logsearch/log

[2016-03-18 10:16] anklei opened #97 "Support multiple logsearch deployments"
Hi,
we are trying to stream cf logs to multiple logsearch deployments with different configurations. For that we need to set a custom firehose_subscription_id. Does it make sense to add this option to logseach-for-cloudfoundry release?

[2016-03-18 14:50] cromega commented on #97
@anklei: It certainly does. Currently the subscription ID is not configurable. If you make the change to the release we will review and merge it.

[2016-03-23 14:18] anklei commented on #97
thanks for the feedback, here is the pull request: https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/98

[2016-03-24 15:27] tomsherrod commented on #91
I see doc.

[2016-03-24 15:27] #91 closed

[2016-03-24 15:33] tomsherrod opened #99 "create release fails"
Cloning down, running "bosh create release" resulted in "Package 'collector' has a glob that resolves to an empty file list: collector/{Rakefile,Gemfile,Gemfile.lock}"

Ran an update, "bosh create release" got further and resulted in "Package 'logsearch-for-cloudfoundry-filters' has a glob that resolves to an empty file list: logsearch-config/target/logstash-filters-default.conf" I don't see this

[2016-03-24 16:29] cromega commented on #99
@tomsherrod

1, collector: run `git submodule init && git submodule update` or clone with the `--recursive` flag
2, missing logstash-filter-default.conf: run `src/logsearch-config/bin/build`. Thanks for pointing out some missing bits in the documentation.

[2016-03-25 11:24] tomsherrod commented on #99
Success! Many thanks.
Now to see what can be done with it!

[2016-03-25 11:24] #99 closed

[2016-04-05 14:54] MaheshRudrachar commented on #57
@mrdavidlaing in the same context, I have another usecase.
whitelist only those logs for a given appname and orgname

At present, I am in process of implementing and customizing the ELK stack, where in user should have flexibility to bind the app to elk and only those app logs needs to be flowed/pushed from doppler to fierhose-to-sylog plugin.. What would be your option and approach to address thi

[2016-04-12 21:02] sharms commented on #94
Why not merge https://github.com/stayup-io/kibana-cf_authentication/pull/1 ? This is already solved for a few months --

[2016-04-15 09:06] anklei commented on #97
any chance you can have a look at my pull request in the near future?

[2016-05-08 14:41] vfonsecapv opened #100 "We need to create a update script for submodules"
#!/bin/bash

if [ "$1" == "--help" ]; then
  echo "USAGE: $0"
  echo "    This command takes no arguments."
  echo ""
  echo "This script does a git submodule update on all submodules"
  exit 0
fi

function has_upstream() {
  git rev-parse @{u} > /dev/null 2>&1
}

set -x -e

scripts_dir="$(cd $(dirname $0) && pwd)"
if [ -d "$(dirname "$scripts_dir")/.git" ] ; then
  "$scripts_dir"/install-git-hook

[2016-05-08 20:45] vfonsecapv commented on #80
There some problem with ingestor_cloudfoundry-firehose. Do you what is?

[2016-05-09 08:59] mrdavidlaing commented on #80
@vfonsecapv - Please can you provide some more details on what your issue is.

[2016-05-09 12:33] vfonsecapv commented on #80
When I realize the deployment, creating the release (bosh bosh create release and release upload) the job in question does not work.

I checked in monit summary and the one who does not start is ingestor_cloudfoundry-firehose

We have some specific problem with it?

[2016-05-09 12:55] vfonsecapv commented on #80
monit summary:

Process 'ingestor_cloudfoundry-firehose' not monitored

monit start ingestor_cloudfoundry-firehose

Process 'ingestor_cloudfoundry-firehose' Execution failed - start pending

syslog erros:
`
{:timestamp=>"2016-05-09T12:42:31.323000+0000", :message=>"SIGTERM received. Shutting down the pipeline.", :level=>:warn}
{:timestamp=>"2016-05-09T12:42:31.472000+0000", :message=>"UDP listener

[2016-06-23 08:01] Infra-Red commented on #100
@axelaris
Update script was introduced in next [PR](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/102). I think we can close this issue.

[2016-06-23 09:27] axelaris commented on #100
Agree. Closing down the issue.

[2016-06-23 09:27] #100 closed

[2016-07-05 01:39] #50 closed

[2016-07-07 14:36] Infra-Red commented on #51
Tests failing fix was introduced in next PR https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/123.
@axelaris We can close this issue.

[2016-07-07 15:06] axelaris commented on #51
Agree, thanks @Infra-Red

[2016-07-07 15:06] #51 closed

[2016-07-18 10:42] hannayurkevich commented on #7
This is not an issue anymore, because vcap.conf now checks for message format before parsing it with json filter. See https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/master/src/logsearch-config/src/logstash-filters/snippets/vcap.conf#L7.

[2016-07-18 10:44] axelaris commented on #7
Ok, closing

[2016-07-18 10:44] #7 closed

[2016-07-18 10:51] hannayurkevich commented on #79
@axelaris, please close this, cause it was already fixed.

[2016-07-18 10:54] hannayurkevich commented on #93
@axelaris please close this one, cause it is not an issue anymore.

[2016-07-18 10:56] axelaris commented on #79
Ok, closing

[2016-07-18 10:56] #79 closed

[2016-07-18 14:35] #61 closed

[2016-07-19 10:11] axelaris commented on #93
Ok, closing

[2016-07-19 10:11] #93 closed

[2016-07-26 14:43] hannayurkevich commented on #30
Fixed in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/147.

[2016-07-26 15:35] hannayurkevich commented on #82
Not an issue anymore. I've checked in my test ELK I have fields with both uppercase names and "-" symbols. I think it was an issue related to older ES.
We can close this.

[2016-07-26 15:37] axelaris commented on #82
Ok, closing down

[2016-07-26 15:37] #82 closed

[2016-07-27 09:28] hannayurkevich commented on #57
Hi guys,

Is it still an issue?

[2016-07-27 10:11] #30 closed

[2016-07-28 15:00] hannayurkevich opened #155 "Refacroring of some fields / filters"
1) gsub special characters from @type when set it with dynamic value

2) remove _logstash_input field

3) do not rename tags to @tags

4) UTs refactoring

[2016-07-28 15:09] axelaris opened #156 "Investigate CLA feature"

[2016-07-28 15:27] hannayurkevich opened #157 "Get rid of 'unparsed' index"
We should have only two types of indices - app & platform.
All logs that do not belong to app - should be stored in platform. Set '@type' to 'unknown' or 'undefined' for logs of unknown source. Additionally we can set 'unparsed' tag for such logs.

[2016-07-28 15:30] hannayurkevich opened #158 "Investigate support of different log events (as per firehose-to-syslog event types)"
Currently we have special parsing for LogMessage and Container Metric events only. But there are other types of events: https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/v200.0.0/jobs/ingestor_cloudfoundry-firehose/templates/bin/ingestor_cloudfoundry-firehose_ctl#L78

Need to add parsing rules for these types of events.

[2016-07-28 15:44] hannayurkevich opened #159 "Make Kibana Dashboards up-to-date and useful"
Review existing Kibana dashboards and make them up-to-date. Add missing useful dashboards.

[2016-07-28 15:45] hannayurkevich opened #160 "Delete obsolete branches"
Need to review existing branches and delete obsolete some.

[2016-07-28 15:47] hannayurkevich commented on #159
It depends on #148

[2016-07-28 15:48] hannayurkevich opened #161 "Add predefined index patterns in Kibana"
Investigate if it is possible to load predefined index patterns in Kibana when setting up ELK.
(it looks like this requires edit of .kibana index)
If it is possible - create predefined index patterns and make them be created as part of ELK setup.

Useful doc: https://discuss.elastic.co/t/kibana-4-unattended-configuration-of-default-index-pattern/1737/5

[2016-07-28 15:49] hannayurkevich opened #162 "Add parsing for missing UAA message formats"
<14>2016-07-05T15:00:01.718377+00:00 192.168.111.51 vcap.uaa [job=uaa_z2 index=0] [2016-07-05 15:00:01.718] uaa - 13987 [http-bio-8080-exec-17] .... INFO — TokenEndpoint: Handling error: InvalidTokenException, Invalid refresh token (expired): eyJhbGciOiJSUzI1NiJ9.eyJqdGkiOiJiMTRhNGNmNi00MjY5LTQyZTktOTQ0OC02ZTBkOGYyNjgxMmItciIsInN1YiI6IjUxNTM4ZjEwLTBjZGYtNGJkOC05YmY4LWExOTk1NmIwZDVjNCIsInNjb3BlIjpb

[2016-07-28 15:50] hannayurkevich opened #163 "Add logout button to Kibana"

[2016-07-28 15:51] hannayurkevich opened #164 "Fix Kibana authorization to allow user see only assigned spaces logs"
Case:
user1 assigned to org=test space=sandbox
user2 assigned to org=test space=dev
expected behaviour: user1 sees sandbox logs, user2 sees dev logs
actual behaviour: both user1 and user2 see logs of sandbox and dev
A user must see logs of his spaces only. At the moment he/she sees logs of ALL spaces in his org.
It looks like we should use AND operator instead of OR when checking user's orgs and s

[2016-07-28 15:52] hannayurkevich opened #165 "Handle deployment dictionary"
Logsearch-boshrelease added new field - [@source][deployment]. This field is set to 'Unknown' by default and is supposed to be populated based on dictionary file.
Note, that firehose-to-syslog passes 'deployment' field, so [@source][component] can be populated for app logs based on passed value of 'deployment' field. For platform logs we have 'Unknown' value unless we provide a dictionary file.
Ne

[2016-07-28 15:53] hannayurkevich opened #166 "Make rtr.@message more specific"
Currently rtr.@message is set to smth. like
`logs.64.78.234.204.nip.io - [26/07/2016:11:05:16.338 +0000] "POST /elasticsearch/_msearch?timeout=0&ignore_unavailable=true&preference=1469529199427 HTTP/1.1" 200 793 44989 "https://logs.64.78.234.204.nip.io/app/kibana" "Mozilla/5.0 (Windows NT 6.3; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/51.0.2704.103 Safari/537.36" 192.168.111.11:548

[2016-07-28 15:57] hannayurkevich opened #167 "Make prefix of index pattern in mappings configurable"
Lets discuss before starting work on it.
The aim: make default mappings be applied even if index name is changed (smth. other than 'logs-_').
In general we need TODO:
1) Introduce property to store logs index prefix in it, smth. like
logstash_parser.elasticsearch_index_prefix
2) Use it when defining index name in deployment manifest (stub.logsearch-for-cloudfoundry.yml):
  logstash_parser:
    deb

[2016-07-28 15:59] hannayurkevich opened #168 "Create properties mappings for static fields to define their types"
Dynamic type detection is kinda risky. So it makes sense to define datatypes for static fields (@level, @message, @shipper., @source. etc.)

[2016-07-28 16:02] hannayurkevich opened #169 "Translate numeric @level to string value"
Do smth. like this:
[code]

[2016-07-28 16:03] hannayurkevich opened #170 "Rename l-f-c filter snippets"
Think of the best naming for snippets

[2016-07-28 18:49] jmcarp commented on #161
If I'm understanding this issue correctly, those index patterns live in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/tree/master/src/logsearch-config/src/kibana4-dashboards/index-pattern. They're dumped to `.json.erb` files in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/7897021603f2a10fe7b36d636fd683a6039c8f20/src/logsearch-config/src/kibana4-d

[2016-07-29 17:14] hannayurkevich opened #173 "Whitelist/blacklist of orgs, spaces and apps"
I think it makes sense to add such feature as whitelist or/and blacklist of orgs, spaces and applications into Parser configuration. So that we can filter out log events based on this criteria.

[2016-07-29 17:14] hannayurkevich commented on #57
Closing this issue. Created enhancement https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/issues/173 because filtering feature can be quite useful.

[2016-07-29 17:14] #57 closed

[2016-08-01 09:53] axelaris opened #174 "Review stale branches"
Please review stale branches and see if they contain anything helpful for current state.
@hannayurkevich: [allow_access_to_cf](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/tree/allow_access_to_cf)
@Infra-Red: [push-kibana-issues](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/tree/push-kibana-issues), [upgrade_for_elasticsearch2](https://github.com/clo

[2016-08-01 10:08] #15 closed

[2016-08-01 10:10] axelaris commented on #34
Outdated, closing down

[2016-08-01 10:10] #34 closed

[2016-08-01 12:13] Infra-Red commented on #94
Fixed in the https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/112 PR, @axelaris i think we can close this issue.

[2016-08-01 12:19] Infra-Red commented on #83
[cloudfoundry-community/logsearch-boshworkspace](https://github.com/cloudfoundry-community/logsearch-boshworkspace) is outdated. Close issue as obsolete.

[2016-08-01 12:19] #83 closed

[2016-08-01 12:56] hannayurkevich opened #175 "Index patterns files contains * which fails on Windows"
[Recent](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/327e185841116fe08cc0cb62b71210d9527c58fc) rename of Kibana index patterns files leads to broken repo on Windows because Windows doesn't allow * (which now is included in file names).

We need to avoid * in file names.

@jmcarp, could you please take a look at this issue?

[2016-08-01 13:07] hannayurkevich commented on #175
I've made a quick fix - https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/176. But I'm not sure that index patterns are not broken after the change.

[2016-08-01 13:16] #94 closed

[2016-08-01 13:27] #63 closed

[2016-08-01 13:41] axelaris commented on #80
Obsoleted

[2016-08-01 13:41] #80 closed

[2016-08-01 13:58] #175 closed

[2016-08-02 13:40] Infra-Red commented on #174
@axelaris both branches [push-kibana-issues](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/tree/push-kibana-issues), [upgrade_for_elasticsearch2](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/tree/upgrade_for_elasticsearch2) are outdated, I will delete these branches.

[2016-08-02 14:02] axelaris commented on #174
@Infra-Red Ok

[2016-08-05 05:34] hannayurkevich opened #180 "Add missing step for yaml tests in install-dependencies"
I get the following when running tests on my test env:
`===> Validating YAML data ...
 yaml-lint $(find ../.. -path ../../src -prune -o -name '*.yml' -print)
sh: 1: yaml-lint: not found
rake aborted!
Command failed with status (127): [ yaml-lint $(find ../.. -path ../../src -p...]
/home/ubuntu/deployments/elk/logsearch-for-cloudfoundry/src/logsearch-config/Rakefile:44:in block in <top (required)>

[2016-08-05 08:03] Infra-Red commented on #180
Fixed https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/c16fddc1799331baf52cc2bcbd0dbb9cbdb084dc

[2016-08-05 08:03] #180 closed

[2016-08-08 11:25] hannayurkevich commented on #157
Fixed as part of https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/181

[2016-08-08 11:25] hannayurkevich commented on #155
PR for this - https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/181

[2016-08-08 11:48] hannayurkevich commented on #170
fixed in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/181

[2016-08-08 12:35] #155 closed

[2016-08-08 12:36] #170 closed

[2016-08-08 13:28] #157 closed

[2016-08-08 13:48] Infra-Red commented on #156
Resolved.
/cc @axelaris

[2016-08-08 13:48] #156 closed

[2016-08-08 14:04] axelaris commented on #156
Thanks, @Infra-Red!

[2016-08-09 14:03] hannayurkevich opened #182 "Configurable chain of parsing rules"
It could be really useful to allow users to define which parsing rules they want to apply (or stick to default rules) and specify custom parsing rules to be applied.

see usecase - https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/179#issuecomment-238559262

[2016-08-18 11:08] hannayurkevich commented on #158
Also need to switch to 2.0.0 version of firehose-to-syslog because it includes some useful related fixes - https://github.com/cloudfoundry-community/firehose-to-syslog/issues/115 and https://github.com/cloudfoundry-community/firehose-to-syslog/issues/114.

[2016-08-19 11:38] hannayurkevich commented on #174
Branch [allow_access_to_cf](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/tree/allow_access_to_cfl) is outdated, so I deleted it.

[2016-08-19 11:38] #174 closed

[2016-08-19 14:26] hannayurkevich commented on #160
duplicates https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/issues/174

[2016-08-19 14:26] #160 closed

[2016-08-24 11:33] #158 closed

[2016-08-24 11:33] hannayurkevich commented on #161
https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/188

[2016-08-25 08:09] hannayurkevich opened #189 "Test Kibana authentication when deploying Kibana as an instance"
It looks like we need to have a job in manifest:

https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/templates/logsearch-for-cf.example-with-uaa-auth.yml#L75

[2016-08-25 12:12] #161 closed

[2016-08-29 13:25] #96 closed

[2016-09-09 13:57] hannayurkevich commented on #163
https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/191

[2016-09-09 13:58] #159 closed

[2016-09-09 13:58] #163 closed

[2016-09-15 15:51] hannayurkevich commented on #169
Fixed in PR https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/192.

[2016-09-15 15:53] #169 closed

[2016-09-16 10:05] #166 closed

[2016-09-16 10:05] hannayurkevich commented on #166
https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/193

[2016-09-18 01:07] jmcarp opened #195 "Add to https://bosh.io/releases"
It would be useful if this could be added to https://bosh.io/releases. Related, it would be helpful to resume regular releases with a changelog so that users like me can understand when and how to upgrade. One more question: do you recommend using the `master` or `develop` branch? When is `develop` merged into `master`?

[2016-09-19 10:07] hannayurkevich commented on #189
Make sure that it is possible to install authentication plugin to both cf-kibana and standalone Kibana instance.

[2016-09-19 10:26] hannayurkevich commented on #162
Fixed in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/196.

[2016-09-19 10:27] #162 closed

[2016-09-19 14:18] Infra-Red commented on #97
Fixed in 8cdb1c11d8483f2b62ef709b8b5d4e2f239c0203 .

[2016-09-19 14:18] #97 closed

[2016-09-20 13:07] hannayurkevich commented on #164
Won't fixed because it works correct.

Make sure to assign correct roles to users in CF. E.g. to give user 'developer' role do:
`cf set-space-role <username> <org> <space> SpaceDeveloper`.

Note that if you assign a user with some roles for an organization (e.g. OrgManager or OrgAuditor etc.) then user will have access to all spaces in this organisation.

[2016-09-20 13:07] #164 closed

[2016-09-22 10:37] hannayurkevich commented on #165
Fixed in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/197

[2016-09-22 10:37] #165 closed

[2016-09-22 11:18] hannayurkevich opened #198 "PR to logsearch-boshrelease with possibility to append deployment_dictionary files"
At the moment we provide deployment dictionary file to override logsearch-boshrelease default dictionary (see PR https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/197).

Our deployment dictionary file includes logsearch default dictionary + cf dictionary + diego dictionary. Default dictionary is overridden because name of our dictionary file is the same and logsearch-boshre

[2016-09-22 11:23] hannayurkevich commented on #165
FYI, https://github.com/logsearch/logsearch-boshrelease/pull/253.

[2016-09-28 23:48] jmcarp commented on #195
Quick question @hannayurkevich: for now, would you recommend using `develop` or `master`?

[2016-09-29 09:27] Infra-Red commented on #195
@jmcarp I would recommend to use `release-candidate` branch, we are testing every commit to develop with our concourse pipeline, so if commit from develop has passed all tasks it will be automatically merged to `release-candidate` branch.

[2016-09-30 13:39] Infra-Red commented on #189
Auth plugin works with standalone Kibana instance deployed with BOSH. Also added missing env variables in template 43e8ae58a09b87023cbb30776f797b531c719a43.

[2016-09-30 13:39] #189 closed

[2016-10-04 13:06] hannayurkevich opened #199 "Move src/firehose-to-syslog to src/github.com/cloudfoundry-comunity"
For consistency

[2016-10-04 14:04] tomsherrod opened #200 "What version of logsearch-boshrelease for this? cluster_monitor not running after update"
I've got a working logsearch-boshrelease, 204.0.0.
When I try to deploy with logsearch-for-cloudfoundry, the cluster_monitor update fails(after a long time) with parser job failure. Parser logs indicates a Redis connection problem, when redis isn't even running on at 127.0.0.1.
Not getting much from there, checked the parser/config directory before running the re-deploy. The directory contains log

[2016-10-04 14:59] Infra-Red commented on #200
@tomsherrod I would recommend to use the version number 203.0.0 of logsearch-boshrelease. 204.0.0 version was reverted in commit https://github.com/logsearch/logsearch-boshrelease/commit/ae5fda583a4da88ca947f4b3ed11a5b8136eba1f, so I would not use this release.

[2016-10-04 17:33] Infra-Red commented on #199
Fixed in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/2d91635674731bd9f123fc59ce748f69e9251f03.

[2016-10-04 17:33] #199 closed

[2016-10-04 20:09] tomsherrod commented on #200
@Infra-Red Thanks for the pointer.
cluster_monitor update still fails.
Found a clearer problem /var/vcap/sys/log/monit:
parser.err.log
::::::::::::::
------------ STARTING parser_ctl at Tue Oct  4 19:55:03 UTC 2016 --------------
cp: cannot stat ‘/var/vcap/jobs/logsearch-for-cloudfoundry-filters/config/deployment_lookup.yml’: No such file or directory

No /var/vcap/jobs/logsearch-for-cloudfoundry-

[2016-10-05 09:10] hannayurkevich commented on #200
Hi @tomsherrod,

I've made a [fix](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/3c25325d8351bee714c9af7484dae44d1249a447) which adds missing deployment* properties to logsearch-for-cf.example-with-uaa-auth.yml template.

I'm not sure if it fixes the problem you have. Please try to use the latest changes anyway.

Also it would be really useful if you share your deploy

[2016-10-05 20:26] tomsherrod commented on #200
Hi @hannayurkevich,

I used the logsearch-for-cf.example-with-uaa-auth.yml template, removing the uaa part to achieve success! Well, I now have dashboards with some data. Now on to debugging what data is not getting where. Awesome. Thank you.

Here are the yml files. https://gist.github.com/tomsherrod/5265a44322183aa88f646d291c52f975
Anything you see odd in yml, I welcome pointers.

[2016-10-06 10:01] hannayurkevich opened #201 "Make data uploaded as Kibana objects configurable"
[This line](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/jobs/upload-kibana-objects/templates/bin/run#L6) should be reworked to use property instead of a hardcoded path. The property should accept a list of values with default value set to the hardcoded path used at the moment - so that user can choose whether to upload the default objects and at the same time

[2016-10-07 11:56] hannayurkevich commented on #33
PR https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/202

Not documented yet:
1. Deployment
2. Troubleshooting

[2016-10-07 11:58] hannayurkevich commented on #200
Hi @tomsherrod, glad to hear that the fix helped. Do you still have some issues?

[2016-10-07 11:59] hannayurkevich commented on #46
Closing the issue because it looks obsolete.

[2016-10-07 11:59] #46 closed

[2016-10-07 13:05] Infra-Red commented on #201
Property added in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/763cf29c8e6813727ced5dc058f3486c9e7d4dc9.

[2016-10-07 14:37] hannayurkevich commented on #201
Also updated documentation.

[2016-10-07 14:38] #201 closed

[2016-10-10 13:43] tomsherrod commented on #200
Specific to this issue, no. I'm running into some other things. Will need to nail specifics to give us something to work with.
A big thank you.

[2016-10-10 13:43] #200 closed

[2016-10-19 15:19] tomsherrod opened #203 "uaa login failing -- wrong redirect?"
Hi,

logsearch-boshrelease(v203) working at http://10.104.2.2/.
Passed smoke tests.

Updated the deployment with logsearch-for-cloudfoundry.
http://10.104.2.2/ redirected to the login page.
Got a page for ok that kibana_client have access.
Once ok, redirects to https://10.104.2.2/login?code=oBpTLd&state=EgQjI4X3NVqPO1Jm6DFRB9   which fails since https isn't enabled. http version of that url, retur

[2016-10-24 15:28] tomsherrod commented on #203
Any additional information needed?
I'm happy to test things out too!

Tom

[2016-10-31 10:11] Infra-Red commented on #203
Hi @tomsherrod !
I added ability to use insecure Kibana connection https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/f693698178882f5d7c3e8bf1898e51c4b696d0b7, by default it was set to force https.
To allow http connection you must set additional ENV property `USE_HTTPS: false` in stub file, for example: https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/

[2016-10-31 15:49] tomsherrod commented on #203
Hi @Infra-Red
Thanks for following up.
I made the changes, no change in function. I removed the deployment and releases, to start fresh, same result.

[2016-11-01 10:37] Infra-Red commented on #203
@tomsherrod You right, initially I tested with Kibana as Cloud Foundry application. I made additional fix, could you please try to create release and redeploy again with https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/templates/logsearch-for-cf.example-with-uaa-auth.yml#L97 property added to deployment manifest.
Thanks!

[2016-11-02 15:43] keymon opened #204 "Support for cloudfoundry/syslog-release log messages"
We found the [usage of the metron agent to configure rsyslog a little bit of "hackery"](https://github.com/cloudfoundry/loggregator/blob/develop/jobs/metron_agent/templates/metron_agent_ctl.erb#L22-L24).

It makes sense to keep this magic wrapped in a specific job, and that is why it makes sense to use https://github.com/cloudfoundry/syslog-release

But the [`metron_agent` syslog message](https://

[2016-11-04 13:23] hannayurkevich commented on #204
Hi @keymon,

Thanks for spotting this problem.

I think that it makes sense to do changes for Option1 first. So that logsearch-for-cloudfoundry supports all formats.

Then, if it is decided to apply Option2 or Option3 and a unified format is used for metron_agent and syslog_release, then we will change logsearch-for-cloudfoundry to use this format.

I think you should address Option2 and 3 to auth

[2016-11-04 13:28] tomsherrod commented on #203
@Infra-Red Failing. I did a complete redeploy using the latest logsearch-boshrelease and logsearch-for-cloudfoundry. Pointers welcome.

After logging in, the browser:
{
statusCode: 500,
error: "Internal Server Error",
message: "An internal server error occurred"
}

From kibana.stdout.log:
{"type":"error","@timestamp":"2016-11-02T18:41:34+00:00","tags":[],"pid":11680,"level":"error","message":"Inco

[2016-11-04 14:58] Infra-Red commented on #203
@tomsherrod Could you please additionally share Logsearch deployment manifest.
Thanks!

[2016-11-14 10:22] hannayurkevich commented on #182
Make sure to have the same approach for both logsearch-boshrelease and logsearch-for-cloudfoundry. See discussion https://github.com/logsearch/logsearch-boshrelease/pull/206.

[2016-11-25 12:22] hannayurkevich opened #206 "Add redirect after logout in Kibana"
Kibana authorization plugin uses UAA as OAuth server. By default, redirects after logout are disabled in UAA (see issue https://github.com/cloudfoundry/uaa-release/issues/43).

Need to investigate is it possible to enable redirects in UAA or add an application to its whitelist.
Then, add "redirect" parameter to "/logout" endpoint in authorization plugin.

[2016-11-29 20:01] middleagedman opened #208 "Please complete the deployment sections"
I really need this critical piece of information in order to combine it with the logsearch-boshrelease

[2016-11-29 20:28] Infra-Red commented on #208
Hi @middleagedman !
I added document about deployment process https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/docs/deployment.md.
Feel free to open issues in case of problems during deployment.
Thanks!

[2016-11-29 21:54] middleagedman commented on #208
Fantastic!  Thank you very much.  Doing a deployment trial tomorrow :)

[2016-11-30 10:33] hannayurkevich commented on #206
[UAA API](https://github.com/cloudfoundry/uaa/blob/master/docs/UAA-APIs.rst) doesn't provide an endpoint for user revocation - see issue https://github.com/cloudfoundry/uaa/issues/495.

There is a UI endpoint `/logout.do` which is currently used for user logout. But it has a pitfall - redirect after logout is disabled by default in UAA release, which sets up UAA in CF (see issue cloudfoundry/uaa-r

[2016-11-30 13:55] Infra-Red commented on #204
Fixed in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/207

[2016-11-30 13:55] #204 closed

[2016-12-01 16:53] middleagedman commented on #208
Last thing I'm missing is this
"Deploy Kibana as CloudFoundry application"

Reason is I couldn't get the uaac to work because the create-uaa-client errand creates the tokens expecting a redirect to logs.example.cf.com for the kibana site, but since it's a bosh vm it only has an IP and not a name (since it's not an app).  So I figured I would try the above step.

Is it as simple as regenerating the

[2016-12-02 08:41] hannayurkevich commented on #206
I fact, UAA does provide user token invocation, but, starting from UAA [v3.3.0](https://github.com/cloudfoundry/uaa/releases/tag/3.3.0) (see [revoke tokens api](https://docs.cloudfoundry.org/api/uaa/#revoke-tokens)).

[2016-12-02 11:54] hannayurkevich commented on #206
In general, there are two approaches how to use UAA OAuth:

1) Use UI flow on both login and logout. (current solution)

docs:
https://docs.cloudfoundry.org/api/uaa/#browser-flow
https://github.com/cloudfoundry/uaa/blob/master/docs/UAA-APIs.rst#browser-requests-code-get-oauth-authorize

Redirects after logout are disabled by default in UAA-release (see issue https://github.com/cloudfoundry/uaa-rel

[2016-12-05 12:39] Infra-Red commented on #208
Hi @middleagedman !
I fixed `redirect_uri` in create-uaa-errand https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/c624dce7890a8901898ae51a91064622ae0bbe41, now you can specify your Kibana domain with property `create-uaa-client.elk_domain`.

[2016-12-05 15:21] middleagedman commented on #208
Great thanks!  I had just figured out how to manually fix it on Friday and you beat me to the commit!

[2016-12-05 15:21] #208 closed

[2016-12-15 14:12] saliceti opened #212 "Customisation doc misleading"
The [parsing rules](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/docs/customization.md#parsing-rules) section in the customisation doc says the rules can be added within a block.

I have tried it but it didn't work for me. And I don't see how it would work, as the [the code that uses that property](https://github.com/cloudfoundry-community/logsearch-boshrelease

[2017-01-04 12:14] hannayurkevich opened #213 "Set default index pattern when uploading Kibana saved objects"
When accessing Kibana first time, a user is asked to set a default index pattern. It makes sense to to automatically when uploading Kibana saved objects.

[2017-01-04 15:09] hannayurkevich commented on #213
This is actual for standalone Kibana only.

[2017-01-04 17:48] muconsulting commented on #203
Hi @tomsherrod  - have you got it running ? I have similar issue (on AWS) - the auth plugin seems to get into an infinite loop -> /login -> / -> /login, ending up with a 502 bad gateway?

I can't get the auth with uaa working.

[2017-01-04 22:55] tomsherrod commented on #203
Hi,
I have not. A colleague has, however, I haven't done it myself as of yet.
Your question kicks me back into it. Will share whatever I find over the
next couple of days.

Tom

On Wed, Jan 4, 2017 at 12:48 PM, Sylvain Gibier <notifications@github.com>
wrote:

[2017-01-05 05:58] Infra-Red commented on #203
@muconsulting In your deployment you are using Kibana as standalone VM from logsearch-boshrelease or CF Kibana application included in this release?

[2017-01-05 16:29] hannayurkevich commented on #203
Can you share your deployment manifest and tell which versions of logsearch-boshrelease and logsearch-for-cf you use?

[2017-01-06 10:38] muconsulting commented on #203
Hi,

I'm using logsearch-boshrelease (v203) and logsearch-for-cloudfoundry (v200.0.0).

Regarding the manifest - I'm deploying Kibana 4.4.2 (from the release itself) + the installed auth plugin with a generated manifest as below for faster debugging - which is equivalent to the errand job anyway.

`---
applications:
- name: kibana-me
  memory: 1024M
  instances: 1
  buildpack: binary_buildpack
  t

[2017-01-06 16:11] hannayurkevich commented on #203
@muconsulting ,

I had similar redirect issue when my Redis properties were set wrong. So, could you please make sure that there is a `kibana*` key storing your session in Redis? It should look similar to this: `kibana:sessions:17232c30-d3f8-11e6-b1c3-71dc90d50a56`.

If there is no one, then probably something wrong with your Redis connection. If everything is ok with Redis (there is a `kibana*` k

[2017-01-06 16:18] hannayurkevich commented on #203
Also, can you try using recent [201 release](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/releases/tag/v201.0.0) of logsearch-for-cloudfoundry?

[2017-01-06 23:15] muconsulting commented on #203
Hi,

I can confirm that my redis contains kibana* key entries. I can try the latest release, but i don't see any code changes in the authentication plugin, nor the kibana release.

[2017-01-07 12:36] #213 closed

[2017-01-09 10:44] hannayurkevich commented on #203
@muconsulting,

Thank you for your PR https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/216.

You are right, there is no need to store an auth credentials object in the user session cookie - storing of session_id is enough. Additionally, we are not risking to exceed a cookie size limit.

For your question regarding `validateFunc`, it is invoked on each user request to valid

[2017-01-09 10:45] #203 closed

[2017-01-10 10:00] hannayurkevich commented on #206
Logout redirect parameter added in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/209. Also there is a [deployment step](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/docs/deployment.md#9-update-cloudfoundry-deployment-to-include-elk-uri-to-the-whitelist-of-uaa-logout-redirects) describing how to enable logout redirects in UAA.

[2017-01-10 10:00] #206 closed

[2017-01-10 17:41] hannayurkevich opened #217 "Fix app parsing for new fierhose-to-syslog format / CF logging format"
Latest firehose-to-syslog version sends multiple source type e.g. `"source_type":"APP/PROC/WEB"`. This breaks app parsing.

UPDATE:

The new source types have nothing to do with firehose-to-syslog. They were added to Diego - see [code]( https://github.com/cloudfoundry/cloud_controller_ng/blob/058e366818aba86f8456662b0bba95b0e35846ab/lib/cloud_controller/diego/protocol.rb#L60) (see [commit](https:/

[2017-01-11 12:12] hannayurkevich commented on #217
Firehos-to-syslog added new useful feature - a possibility to opt-out apps of getting their logs in syslog - https://github.com/cloudfoundry-community/firehose-to-syslog/issues/132.

For us it means that it is now possible for CF apps to enable/disable their logs getting in ELK.
This feature has been added to the doc - https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/devel

[2017-01-12 13:56] hannayurkevich commented on #217
RTR logs format also [changed](https://github.com/cloudfoundry/gorouter/commit/505adfc3600b524066b290d9e861f4e85df20a69) recently.

[2017-01-13 15:10] hannayurkevich commented on #212
This should be fixed in conjunction with https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/issues/182.

[2017-01-13 15:12] #217 closed

[2017-01-16 10:09] hannayurkevich opened #219 "Upload Kibana saved objects based on set event types"
We need more flexible way of fixing the problem discussed in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/205.

We need to analyze `cloudfoundry.firehose_events` property and, based on it, upload only those Kibana saved objects that relate to the set event types.

[2017-01-16 12:21] hannayurkevich opened #220 "Add errand jobs to post-deploy"
Currently we have several errand jobs, that should be executed manually: `cf-kibana`, `upload-kibana-objects` and `create-uaa-client`. It's better to add them to post-deploy by default.

[2017-01-16 12:22] hannayurkevich commented on #220
The same problem was discussed in https://github.com/cloudfoundry-community/logsearch-boshrelease/issues/18.

[2017-01-27 16:10] #219 closed

[2017-01-27 16:12] hannayurkevich commented on #33
We need to document `Troubleshooting` section.

[2017-01-27 16:18] hannayurkevich opened #224 "Add job description to spec files"
We need to describe our jobs briefly in their spec files.

[2017-01-30 15:00] hannayurkevich commented on #212
Fixed in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/631fe0ad2ce69b5daa80dfd5e442bbb72fb38247#diff-4b575591f248fd10193e79c37560ce93.

[2017-01-30 15:00] #212 closed

[2017-01-31 14:11] hannayurkevich commented on #198
Fixed in https://github.com/cloudfoundry-community/logsearch-boshrelease/commit/b59559dff23f87b25588599ba9249ce16722890c and https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/ed9a125dd9647f1007f4cdb675c95eb5cab71fe7.

[2017-01-31 14:22] #198 closed

[2017-01-31 22:27] jmcarp opened #225 "Document breaking changes and upgrade paths"
To prevent breaking changes from affecting downstream users, it would be helpful for this project to adopt semantic versioning and keep a log of breaking changes. There have been a few breaking changes related to renaming jobs and templates in the last month, and we've had to page through commits looking for the relevant changes to resolve. Ideally, any breaking change would be accompanied by an e

[2017-01-31 22:38] jmcarp commented on #195
@Infra-Red: it looks like `release-candidate` hasn't updated since October. Is it still getting updated from CI?

[2017-02-06 15:40] hannayurkevich commented on #167
Changed in Logsearch - https://github.com/cloudfoundry-community/logsearch-boshrelease/pull/31

[2017-02-10 16:08] middleagedman opened #228 "deployment_dictionary parser issue"
It looks like the fields for deployment dictionary are not compatible with how logsearch-boshrelease runs the parser_ctl.  I.e.
      deployment_dictionary:
      - /var/vcap/packages/logsearch-config/deployment_lookup.yml
      - /var/vcap/jobs/parser-config-lfc/config/deployment_lookup.yml

Gets passed to logsearch-boshrelease/jobs/parser/templates/bin/parser_ctl (or /var/vcap/jobs/parser/bin/pa

[2017-02-10 16:10] middleagedman opened #229 "/jobs/elasticsearch-config-lfc/spec log naming is incorrect"
I had to fix this line today in order to deploy the release

index 77e3dda..73d9446 100644
--- a/jobs/elasticsearch-config-lfc/spec
+++ b/jobs/elasticsearch-config-lfc/spec
@@ -10,4 +10,4 @@ properties:
       Name prefix of your log indices that can uniquely distinguish them among other ES indices if apply pattern '*' to it, e.g. 'logs-*'.
       It is used in the index templates predefined in th

[2017-02-10 17:19] hannayurkevich commented on #228
Hi @middleagedman ,

Which version of logsearch-boshrelease are you using? Please use `develop` version of `logsearch-boshrelease` if you are using `develop` version of Logsearch-for-cloudfoundry (see [versions compatibility](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/docs/versions.md)).

Here is the piece of `parser_ctl` script for deployment dictionary copy

[2017-02-10 17:26] hannayurkevich commented on #229
Right, I'll fix the spec.

Thanks!

[2017-02-10 17:35] hannayurkevich commented on #229
Fixed in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/dcd2b59fae9811e55df7d90bdf8e9bf3d5e51bb5.

[2017-02-10 17:35] #229 closed

[2017-02-10 17:42] #228 closed

[2017-02-10 18:16] middleagedman commented on #228
Ah thanks.. yea I had been using 203 due to weird 204 commits.

[2017-02-19 11:57] hannayurkevich opened #230 "Parsing: sse some static type value when parsing is broken"
Currently we set [ES index type](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/templates/stub.logsearch-for-cf.cf-kibana.yml#L21) as `%{@type}`. But some messages can be parsed with problems (e.g. old messages parsed with `fail/timecop` tag) and it can occur that `@type` field is not parsed, so ES index type is not defined for such messages.

We need to use some

[2017-02-21 09:59] axelaris commented on #225
Fixed by https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/1245e7453a0771462228c77cc7ad7207d21edd9e

[2017-02-21 09:59] #225 closed

[2017-02-22 10:26] janaurka opened #232 "Cannot build release because of firehose-to-syslog"
Hey *

Apparently I cannot build a `bosh-release` since `firehose-to-syslog` seems to have a problem:

[code]

[2017-02-22 10:31] Infra-Red commented on #232
@janaurka Have you run `./scripts/update` before creating the release?

[2017-02-22 10:39] janaurka commented on #232
@Infra-Red: oh, sorry, my bad. I’ve flushed the repo and totally forgot about that one. thx for the hint!

[2017-02-22 10:39] #232 closed

[2017-02-25 20:58] axelaris commented on #195
added to bosh.io

[2017-02-25 20:58] #195 closed

[2017-03-06 16:53] antonsoroko opened #236 "Wrong link to logsearch-boshrelease in docs/intro.md"
Wrong link to logsearch-boshrelease in docs/intro.md:
https://github.com/logsearch/logsearch-boshrelease

[2017-03-07 12:48] Infra-Red commented on #236
Thanks @antonsoroko . Fixed with https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/32c7f2245f7b363dc8d0cd80c70704d57209f85e.

[2017-03-07 12:48] #236 closed

[2017-03-07 14:34] #167 closed

[2017-03-11 16:28] ultragtx opened #237 "How to get platform logs"
Hi, I've deployed logsearch following this guide https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/docs/deployment.md

In Kibana, I can only find app related logs, like cf push APP, cf ssh APP, stdout and stderr from apps. How can I get platform logs like UAA audit?

Here's the manifest https://gist.github.com/ultragtx/17a6b248da868842a626ea060cfaa08c#file-logsearch

[2017-03-11 17:14] Infra-Red commented on #237
@ultragtx Hi, you should reconfigure your Cloud Foundry deployment to forward components logs to Logsearch, add next properties to CF deployment manifest and redeploy:
https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/docs/deployment.md#8-update-cloudfoundry-deployment-to-forward-component-logs-to-ingestor

[2017-03-11 17:21] ultragtx commented on #237
@Infra-Red Thanks you so much for the quick response, but I had already added `properties.syslog_daemon_config` and reconfigured cf deployment, just like what the link showed.

[2017-03-12 09:10] Infra-Red commented on #237
@ultragtx You could also check that security groups allow traffic between Logsearch and CF deployments. By default Logsearch store CF instances logs in `logs-platform*` index, please check that you use exactly this index. You can list all available indexes with the following command `curl ELASTICSEARCH_MASTER_IP:9200/_cat/indices?v`

[2017-03-12 11:09] hannayurkevich commented on #237
@ultragtx, Make sure that you login to Kibana with Admin user, because only Admin users can see platform logs.

[2017-03-12 16:13] ultragtx commented on #237
@Infra-Red @hannayurkevich  Thank you so much for the help, which led me to check privilege related settings, and I finally found out I've set the wrong value to `CF_SYSTEM_ORG`.

Also, it was strange that I could only get platform logs when I set `properties.syslog_daemon_config.transport` to `tcp` or `relp`. Leaving it blank (use default value `udp`) didn't work.

Anyway, my problem solved, and

[2017-03-12 16:13] #237 closed

[2017-03-12 18:24] hannayurkevich commented on #237
Welcome )

[2017-03-12 22:52] comxtohr opened #238 "cf-routing for ls-router"
Original `logsearch-boshrelease` needs to set a domain name for `ls-router` manually.
Is it a good idea to add a `route_registrar` template(`cf-routing` release) to job `ls-router`?
It can assign a domain name for `ls-router` automatically.

[2017-03-21 21:00] geofffranks opened #241 "Use latest firehose-to-syslog"
There are a number of updates + fixes to firehose-to-syslog that would lead to a better troubleshooting experience (prints errors when connecting to CF instead of nil-pointer panics). Would be great if we could update to the latest version in this release.

[2017-03-23 08:37] maoyi8212 commented on #203
@hannayurkevich
I have met the similar 500 "Internal server error". And my deployed version is as following:
logsearch-for-cloudfoundry/202.0.0
logsearch/204.0.0

You have mentioned that I need to make sure that there is a  kibana*  key storing your session in Redis, And I tried to ssh to the queue instance and check the keys of redis:
[code]
Does it mean that my current redis is not properly conf

[2017-03-23 09:26] hannayurkevich commented on #203
Hi @maoyi8212 , do you deploy cf-kibana or standalone one? Could you please provide your deploy manifest, so that I can get a better picture of your deployment and try to help?

Thanks.

[2017-03-23 10:33] maoyi8212 commented on #203
@hannayurkevich Thank you for your quick reply. I deploy the cf-kibana and here attached the manifest
[de-cf-logsearch-for-cf-manifest_update.yml.txt](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/files/864388/de-cf-logsearch-for-cf-manifest_update.yml.txt)

[2017-03-23 12:44] hannayurkevich commented on #203
@maoyi8212 ,

I see that you set Redis host in your deployment:
[code]
This property should be enough to make Kibana use Redis to store auth sessions. Just double check that this IP is correct.

Also you don't need to set `REDIS_HOST` in `cluster_monitor` job, because it sets Kibana instance without authentication plugin. So, you can remove the unnecessary property:
[code]

I can't see any problem

[2017-03-23 15:01] #168 closed

[2017-03-23 15:57] maoyi8212 commented on #203
@hannayurkevich @Infra-Red
Thank you for the reply. And here are the specific case of mine.
1. My redirection error happens after redirect from UAA login page, it can already get the code and state information, for my understanding the next step should access the token entry point to get the access token, but it goes to the authorize entry to require for the code for kibana_oauth2_client again and

[2017-03-23 16:51] hannayurkevich commented on #203
It looks like Kibana auth plugin can't connect Redis to persist user session and that's why tries to authenticate them again and again. Could you please check that Redis port is open, so that Kibana can access it?

[2017-03-23 17:32] maoyi8212 commented on #203
@hannayurkevich @Infra-Red
I have opened the 6379 port for my virtual machines, but the error still exist.

And what's the default name of security group for Redis? I checked my current security group. There are only cf-kibana-asg(Which is I created for Kibana) and logsearch-access
[code]

[2017-03-23 17:42] hannayurkevich commented on #203
It's `logsearch-access` sg. Make sure it contains the rule
[code]

Also, one thing you can try is to clear your browser cookies and also content of your Redis. And the retry login to Kibana. It's possible that "old" data breaks authentication.

[2017-03-23 18:01] maoyi8212 commented on #203
@hannayurkevich Really appreciate your great help!
Actually the rule is there, but the redis host and elasticsearch host is totally wrong, and we have deployed successfully the logsearch and logsearch-for-cloudfoundry once but after it runs for a certain period time, the redirect error happens so we tried to redeploy it, but when we doing the redeployment, we met several issues which has never met

[2017-03-23 18:12] hannayurkevich commented on #203
You should set values in properties section (global or for a specific job). For exmple in your manifest I can find the following values:

[code]

- so your configuration values and what you get in your security group is different?  Then you should probably deploy from scratch. You can also fix it manually, if you prefer.

[2017-03-24 09:23] maoyi8212 commented on #203
@hannayurkevich
The redirection issue has resolved after I fixed the security group mannually and redeploy the cf-kibana. But a new issue is that the kibana can not get any data at the moment. According my previous problem, is it possible that the kibana has some wrong configuration of elasticsearch somewhere, so it connects to the wrong host? Could you please give me some suggestion how to debug

[2017-03-24 09:31] Infra-Red commented on #203
@maoyi8212 You should check that Elasticsearch indexes are created and logs data are available.
[code]
Also cf-kibana allows to list all logs only for users from particular Cloud Foundry organization, this org can be configured with property `cf-kibana.cloudfoundry.system_org` and it defaults to org `admin`.
https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/jobs/cf-

[2017-03-24 09:58] maoyi8212 commented on #203
@Infra-Red Thank you for the reploy

Currently there are only 2 Elasticsearch indexes
elasticsearch_master/e7d1f171-005d-4d46-af08-a7a35796dcaf:~$ curl http://10.0.0.140:9200/_cat/indices?v
health status index               pri rep docs.count docs.deleted store.size pri.store.size
green  open   .kibana               1   1         64            0    126.2kb         63.1kb
green  open   logstash-201

[2017-03-24 11:55] hannayurkevich commented on #203
Your `logstash-` index is the one containing logs.  You can't see these logs in Kibana because L-f-c uploads index patterns looking like `logs-*`, `logs-app*` and `logs-platform*`. This is because we are using [specific format](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/templates/stub.logsearch-for-cf.cf-kibana.yml#L20) for index name ([read](https://github.c

[2017-03-24 12:42] maoyi8212 commented on #203
@hannayurkevich @Infra-Red Thank you for your suggestion.
Actually I uesed the same name format for index when I did the deployment, I also do not know why it is not affective. I mentioned that I deployed it once very smoothly but it crashed some days ago. But I met several strange issues when I did the redeployment.

The manifest about parser is like:
[code]

One of the error is the parser issue

[2017-03-24 12:44] maoyi8212 commented on #203
@hannayurkevich @Infra-Red Thank you for your suggestion.
 Actually I uesed the same name format for index when I did the deployment, I also do not know why it is not affective. I mentioned that I deployed it once very smoothly but it crashed some days ago. But I met several strange issues when I did the redeployment.

One of the error is the parser issue
 `Error 400007: 'parser/0 (23129718-a4be-4

[2017-03-24 13:00] maoyi8212 commented on #203
@hannayurkevich @Infra-Red Thank you for your suggestion.
 Actually I uesed the same name format for index when I did the deployment, I also do not know why it is not affective. I mentioned that I deployed it once very smoothly but it crashed some days ago. But I met several strange issues when I did the redeployment.

One of the error is the parser issue
 `Error 400007: 'parser/0 (23129718-a4be-4

[2017-03-24 13:04] hannayurkevich commented on #203
I don't see how `deployment_lookup` error could affect index name. Also I think it is incorrect to comment out some steps if you meet an error - it is better to resolve the error by understanding the cause. So, my point is that the best way now is to deploy ELK from scratch. Try to completely delete your deployment and deploy it from scratch strictly following deployment instructions. And, if you

[2017-03-24 13:08] hannayurkevich commented on #203
Also, If you try from scratch and meet any problems, please open a separate issue to not overload this thread.

Thank you!

[2017-03-31 07:32] k-tooriyama opened #243 "Not explained correct corresponding version of logsearch-boshrelease?"
This is a document bug?

In following page's Dependencies & compatibility matrix, the corresponding version of logsearch-boshrelease is "develop" and the link leads us to the develop branch of "logsearch"/logsearch-boshrelease.
https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/v202.0.0/docs/versions.md
I'm guessing "cloudfoundry-community"/logsearch-boshrelease should be li

[2017-04-08 09:02] Infra-Red commented on #243
I've included a Compatible Releases section in release notes, please use the versions mentioned in this section.

[2017-04-08 09:02] #243 closed

[2017-04-08 12:03] Infra-Red commented on #238
Added in https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/32e1e4251533bccce284dad6420c88508c0b0406.

[2017-04-08 12:03] #238 closed

[2017-04-10 01:36] k-tooriyama commented on #243
Thanks a lot! I've gotten information I should know.
I believe a compatible release section helps those who want to use ls4cf. It's very nice.

[2017-04-10 13:14] Infra-Red commented on #241
Firehose-to-syslog updated to v3 in [v204.0.0](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/releases/tag/v204.0.0) release.

[2017-04-10 13:14] #241 closed

[2017-04-24 05:29] moizkhan2712 opened #247 "Logs stop coming in, errors in Ingestor & Queue VM"
Hi,

We've deployed Logsearch + Logsearch for CF on vSphere with 4 data nodes. While it runs well for several hours, the logs stop appearing. Upon investigating, we find the following in the Ingestor VM's log file (ingestor_syslog.stdout.log):

[code]
Also, the Queue (Redis) VM has the following in queue.log:

[code]

This error is usually resolved by doing a monit restart on the ingestor VM. Howe

[2017-04-24 06:22] 7CHANHO opened #248 "How to share dashboard for general user?"
## Issue
How can I share dashboard using a share link with block access to the Kibana management panel?

## Version
* Logsearch-boshrelease: 206.0.1
* Logsearch-for-cloudfoundry: 204.0.0

## Context
I'm develop a dashboard that to view the log of user's application using logsearch.
To implement this, I'm using Kibana's dashboard sharing feature.
But, I facing problems related to authentication.
1.

[2017-05-01 15:12] tomsherrod opened #251 "Chrome on osx generates 500, Safari on osx works --why?"
Same machine, same userid, 2 different browsers.

Here's the log when using Chrome:
2017-05-01T10:55:33.05-0400 [RTR/0]      OUT logs.apps.rndcf.sas.com - [01/05/2017:14:55:33.052 +0000] "GET / HTTP/1.1" 302 0 47 "-" "Mozilla/5.0 (Macintosh; In
tel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/57.0.2987.133 Safari/537.36" 192.168.5.11:55499 x_forwarded_for:"10.17.9.37, 192.168.5.

[2017-05-10 14:53] geofffranks opened #254 "Smoke test failures on working deployment"
I'm getting smoke test failures on logsearch-for-cloudfoundry v203.0.0, despite having a working cluster. The tests fail due to not finding the UUID of the app in the many hits that are returned from the test query.

It looks like the fix is to filter the query via `@cf.app:<uuid>`, instead of just `<uuid>`. This change appears to be present in v205.0.0, so upgrading should resolve the issue.

Not

[2017-05-10 14:53] #254 closed, assigned to nobody

[2017-05-24 16:59] jstaley opened #257 "Unable to run errand "upload-kibana-objects" - Error filling in template 'run' (line 113: Can't find property '["elasticsearch.host"]')"
When running the upload-kibana-objects errand using version 205.0.0 I receive the error: - Error filling in template 'run' (line 113: Can't find property '["elasticsearch.host"]')

[code]

For reference sake, the release was upgraded from 202.0 and I am using logsearch version 207.0. The deployment went alright and I everything appears to be working with the exception of being able to upload the n

[2017-06-10 06:19] jhiemer opened #261 "Understanding work with firehose-to-syslog and logsearch-for-cloudfoundry interaction"
Hey,
I wanted to understand the behaviour of the filters (debugging purposes) with firehose-to-syslog. What I have done, is deployed firehose-to-syslog to CF as Go application and created a logstash instance with the following configuration
[code]

So after starting the firehose-to-syslog I can see the following messages appearing in my rubydebug:

[code]

Now the filters are not working because t

[2017-06-12 20:07] jhiemer commented on #261
Anyone? :-(

[2017-06-13 10:04] hannayurkevich commented on #261
Hi @jhiemer,

I'm not sure what filters do you use, but it looks like you are missing  [logsearch-boshrelease](https://github.com/cloudfoundry-community/logsearch-boshrelease) filters.

Field `@message` appears as result of rename in logsearch-boshrelease filters (see [here](https://github.com/cloudfoundry-community/logsearch-boshrelease/blob/develop/jobs/parser/templates/config/filters_pre.conf.e

[2017-06-13 11:52] jhiemer commented on #261
Hi @hannayurkevich,
thanks a lot for your response, really appreciate. Your answer helped me a lot to understand some basics. What I was searching for is essentially how I concatenate https://github.com/cloudfoundry-community/logsearch-boshrelease/blob/develop/src/logsearch-config/src/logstash-filters/snippets/syslog_standard.conf with https://github.com/cloudfoundry-community/logsearch-for-cloudf

[2017-06-13 16:01] hannayurkevich commented on #261
@jhiemer,

Logsearch-boshrelease filters are aggregated into one config in this config - [parser_ctl](https://github.com/cloudfoundry-community/logsearch-boshrelease/blob/develop/jobs/parser/templates/bin/parser_ctl#L52-L82). From this file you can get the picture.

For logsearch-for-cloudfoundry filters you can see config [default.conf.erb](https://github.com/cloudfoundry-community/logsearch-for-

[2017-06-13 23:31] geofffranks opened #262 "is refresh_token necessary in the auto-generated firehose UAA client?"
In newer versions of the UAA, the boshrelease requires `scope` to be set if the `authorized_grant_types` is not `client_credentials` (e.g. `client_credentials,refresh_token`) would require `scope` to be set).

We're explicitly creating our firehose user in our cf release manifest, as it's used by a few releases, but curious if the `refresh_token` grant is required for logsearch to function properl

[2017-06-22 15:52] jhiemer commented on #261
@hannayurkevich thanks a lot for your support. I now got an understanding!

Johannes

[2017-06-22 15:52] #261 closed, assigned to nobody

[2017-07-12 15:12] BernhardDenner commented on #247
+1 facing the same issue

[2017-07-13 09:43] #262 closed, assigned to nobody

[2017-07-26 09:54] kukgini opened #266 "bosh2 style deployment manifest needed."
I saw in logsearch-boshreleases project added bosh2 style deployment manifest.
Can you add for this Addon project too?

[2017-07-26 10:18] Infra-Red commented on #266
Bosh2 deployment manifest in logsearch-boshrelease repo includes logsearch-for-cloudfoundry addon by default.

--
Regards,
Andrei

26 июля 2017 г., 12:54 +0300, kukgini <notifications@github.com>, писал:

[2017-07-26 23:59] kukgini commented on #266
Oh. I got it. thank you.

[2017-07-26 23:59] #266 closed, assigned to nobody

[2017-08-04 00:02] marcus-sds opened #268 "logsearch for cloudfoundry scalability"
Hi all.
I'm using logsearch for cf release to gather the application log. I generated about 10,000 message/sec with cf app and there are many missing values at logsearch.
Can you provide the scaling and performance tuning guide? We are using 2 ingestor, 2 parser and 2 es data instances and firehose to gather the log. Ingestor's cpu util is the highest one.
If I use 2 firehose, the message can be d

[2017-08-04 09:35] Infra-Red commented on #268
@marcus-sds The messages will be divided equally between Ingestors with the same firehose subscription id.

[2017-08-14 16:18] antonsoroko opened #269 "Please add deployment mapping for mysq/redis/rabbitmq"
Please add deployment mapping for mysq/redis/rabbitmq as it done for CF:
https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/ed9a125dd9647f1007f4cdb675c95eb5cab71fe7/jobs/parser-config-lfc/templates/deployment_lookup.yml.erb

[2017-08-14 17:05] #269 closed, assigned to Infra-Red

[2017-08-14 17:10] Infra-Red commented on #268
Closing due to inactivity. Feel free to reopen if you need more help.

[2017-08-14 17:10] #268 closed, assigned to nobody

[2017-08-18 07:51] #248 closed, assigned to nobody

[2017-08-23 10:48] henrys24 opened #271 "User Needs to be in system ORG to view Logs when using UAA"
Noticed that when using UAA a user needs to be in the system org to be able to view any Kibana Logs. Also they need to be added to every CF org that exist, if they need to view other application instance logs. IS there away to get logs for all orgs when using UAA

[2017-08-23 11:22] Infra-Red commented on #271
Only users from administrators org/space able to see all logs in Kibana when UAA plugin is installed, you can specify any Cloud Foundry org as admin org during deployment with `kibana-auth.cloudfoundry.system_org` property.

--
Regards,
Andrei

23 авг. 2017 г., 13:48 +0300, henrys24 <notifications@github.com>, писал:

[2017-08-30 05:50] moizkhan2712 commented on #247
I'd created a pull request on [logsearch-boshrelease](https://github.com/cloudfoundry-community/logsearch-boshrelease) with a fix [here](https://github.com/cloudfoundry-community/logsearch-boshrelease/pull/68) a while back and forgot to update here. Setting the 'redis.appendonly' parameter fixes it but also disables redis persistence.

This issue can be closed.

[2017-08-30 05:50] #247 closed, assigned to nobody

[2017-08-31 11:50] maoyi8212 opened #273 "How to do the configuration to allow users except "admin" to access the Kibana portal?"
Hi,
I have deployed the logsearch v206 and logsearch-for-cloudfoundry v204 in my cf environment. Now I plan to change the configuration to enable users(except admin) to access the kibana portal and they can only browser the applications which belong to the  authenrized orgs and spaces. Could you please give me some guide how to do that?

The readme mentioned that "Logsearch-for-cloudfoundry extend

[2017-08-31 12:05] Infra-Red commented on #273
Logsearch-for-cloudfoundry includes `create-uaa-client` errand which will create UAA client for Kinaba auth plugin.

--
Regards,
Andrei

31 авг. 2017 г., 13:51 +0200, maoyi <notifications@github.com>, писал:

[2017-08-31 13:33] maoyi8212 commented on #273
@Infra-Red Thank you for your reply.

I have deployed Kibana as CF application, and the `create-uaa-client` errand  also works for this deployment model. Right?

[2017-08-31 13:39] maoyi8212 commented on #273
And I checked the properties in the specification(the link below), could you please tell more specificly how to point the uaa client to a specific org and space? Many thanks!
https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/914263b3c4576a98e7be785412892b00df43ea9b/jobs/create-uaa-client/spec

[2017-08-31 21:38] yatzek-zz commented on #173
Any progress on this one?

[2017-09-05 05:13] aeijdenberg opened #274 "Scope errors in UAA integration"
The [UAA integration](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/src/kibana-cf_authentication/index.js#L205) currently asks for the following scopes:

- `openid` - this makes sense, it allows you to know who the user is

- `oauth.approvals` - this appears to be a typo - the [UAA docs](https://docs.run.pivotal.io/concepts/architecture/uaa.html) refer to a scop

[2017-09-13 11:00] stu-pete opened #275 "No Logs in Kibana. ES seems fine."
Hi,

I suspect I oversaw something but I'm not able to figure it out.

Before I added logsearch-for-cf, Kibana showed logs for the platform itself just fine.
I chose to keep Kibana as a VM.

I deployed via tutorial and everything worked.

I can Log-In with CF credentials.

Checking Indexes on ES_Master

`curl es_master:9200/_aliases?pretty`
==>
`{
  ".kibana" : {
    "aliases" : { }
  },
  "logs-p

[2017-09-13 13:33] stu-pete commented on #275
I just checked the REDIS on Kibana VM and it gets populated with data as well. Here is the example key for admin:

`get kibana:sessions:cb5a3b10-9885-11e7-be4f-290fba18cabd
"{\"item\":{\"credentials\":{\"provider\":\"custom\",\"token\":\"<removed>\"},\"account\":{\"profile\":{\"displayName\":\" \",\"email\":\"admin\",\"raw\":{\"usely_name\":\"\",\"email\":\"admin\",\"phone_number\":null,\"name\":\

[2017-09-13 13:36] Infra-Red commented on #275
@stu-pete Can you list the CF orgs which to which your user has access to and the value for the next property `kibana-auth.cloudfoundry.system_org`?
https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/jobs/kibana-auth-plugin/spec#L38-L40

[2017-09-13 14:03] stu-pete commented on #275
Its the admin user. He has access to all orgs.
 system
- development
- CF_SMOKE_TEST_ORG
- redis-smoke-test-org
(( two more orgs but i need names to be private so i rename them here.))
- org_a
- org_b

`cat config.sh`
=>
`export USE_HTTPS="false"
export CF_API_URI="https://api.sys....."
export SKIP_SSL_VALIDATION="true"
export KIBANA_OAUTH2_CLIENT_ID="my_kibana_client_id"
export KIBANA_OAUTH2_CLIE

[2017-09-15 19:33] bonzofenix opened #276 "Missing property in spec file for kibana-auth job"
<img width="868" alt="screen shot 2017-09-15 at 2 28 54 pm" src="https://user-images.githubusercontent.com/317403/30500148-bf28d7ae-9a22-11e7-9deb-8e584a9c7a71.png">

[2017-09-15 19:40] #276 closed, assigned to nobody

[2017-10-02 00:59] neppalli757 opened #279 "could not be found in the datastructure"
Hello,
I am trying to deploy  Standalone Kibana with UAA OAuth enabled and i get this error while merging the manifests.  I downloaded the logsearch manifest which was deployed using boshv2 command, i used the below repository to deploy logsearch-boshrelease

https://github.com/cloudfoundry-community/logsearch-boshrelease/tree/develop/deployment

Error (Standalone Kibana with UAA OAuth enabled)
--

[2017-10-02 08:20] aveyrenc opened #280 "Allow Kibana to be hosted on a different domain than system_domain"
Currently, we can't host Kibana on a domain other than the system_domain, because the system_domain is hard coded to generate the URL for Kibana logout redirection and UAA redirect URLs.

Is it possible to add a property allowing to specify an alternative domain for Kibana (and keep the system_domain to build the CF API URL) and fallback to the system_domain if not specified?

[2017-10-04 07:41] Infra-Red commented on #279
Hi @neppalli757 . Could you please share `logsearch_v1.yml` and `stub.logsearch-for-cf.standalone-kibana-with-auth.yml` stubs. Please note that for v1 templates you should use the next templates: https://github.com/cloudfoundry-community/logsearch-boshrelease/tree/develop/templates.

[2017-11-01 10:31] janaurka commented on #275
I’m experience the same thing.

We have this the release up and running on PCF 1.11.x (dunno exactly which cf release that is) where it works fine. On a freshly installed PCF 1.12.x (again, dunno the exact cf release) I see the exact behaviour as @stu-pete is describing.

Maybe there was a change on how the logs are parsed in the `cf-release` (like in doppler or whatever?)

-----

Meh, sorry. That

[2017-11-02 14:25] ghost opened #283 "Non-Admin Users unable to view logs on Kibana"
We have deployed the latest 5.6.3 ELK stack on Ubuntu VM

In order to allow CF users to authenticate we have added a Kibana Client(with the required scopes) in the CF UAA and installed the latest kibana-auth-plugin(v5.6.3) provided in the src/ of this bosh release.

When logged in as admin or when a user is an Org Manager of the configured system org, users are able to view all the App and Platfor

[2017-11-02 14:30] Infra-Red commented on #283
@lordcf You can skip scopes verification using kibana-auth.skip_authorization property, please refer to:

https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/jobs/kibana-auth-plugin/spec#L46-L48

--
Regards,
Andrei

On Nov 2, 2017, 17:25 +0300, lordcf <notifications@github.com>, wrote:

[2017-11-02 14:47] ishwarps commented on #283
@Infra-Red.
We question. The admin user is able to view the apps logs of all orgs/spaces. But the new user created with orgManager and SpaceDevloper role. He is not able to see the logs apps of his org/space.  does this plugins support?

[2017-11-02 16:11] Infra-Red commented on #283
@ishwar1987 With properly configured plugin non-admin users will see logs from Orgs/Spaces to which they have access in CF deployment.

--
Regards,
Andrei

On Nov 2, 2017, 17:47 +0300, ishwar1987 <notifications@github.com>, wrote:

[2017-11-02 17:17] stu-pete commented on #275
@janaurka would you be so kind and tell me what the error was? Maybe im doing the exact same thing :)

[2017-11-02 18:06] ishwarps commented on #283
@Infra-Red . Thanks for response.
I have configure the following properties in index.js.

 var useHttps = false;
 var client_id = 'KIBANA_OAUTH2_CLIENT_ID'
 var client_secret='KIBANA_OAUTH2_CLIENT_SECRET';
 var skip_ssl_validation = true;
 var cf_system_org = 'system';
 var cloudFoundryApiUri = 'https://text.com'
 var logout_redirect_uri = 'xx.xxx.xxx.xxxx:xxxx'
 var use_redis_sessions = false;
 v

[2017-11-03 09:27] janaurka commented on #275
@stu-pete : sure, i used a new bosh-director and i fcked up the ntp configuration (well, i simply left the default and port `123/udp` is not allowed to go outside in the network. So `ntp` failed and all the timestamps were wrong. So `kibana` actually had all the logs (in term of it could display it), *but* it only showed them asking for logs from the last `>=6 hours` because the time was ~6h behin

[2017-11-03 19:33] ishwarps commented on #283
After more analysis. I have printed the options.payload (_filtered_msearch of index.js) for non admin user.

 console.log('optiosn  payload--->',JSON.stringify(options.payload.toString('utf-8')));

its giving an following output.

{"index":["logs-app-test-org-test-space-2017.11.02"],"ignore_unavailable":true,"preference":1509735801854}n{"version":true,"size":500,"sort":[{"@timestamp":{"order":"des

[2017-11-16 17:10] ishwarps commented on #283
HI, The kibana index page is not displaying the @cf.space_id and @cf.org_id field properties with aggregatable.  is this to be reason that query terms is not working?

[2017-11-17 14:25] cfmagnum commented on #283
Closing this ticket. I missed the elasticsearch configuration which i found in following files.
index-mappings.json  index-settings.json  shards-and-replicas.json.

[2017-11-24 12:00] brutus333 opened #284 "Deployment documentation"
Please update the deployment documentation to include the information that a CLIv2 bosh client is needed (one that knows about vendor packages).

Thank you,
Virgil

[2018-01-09 09:58] stu-pete commented on #275
yes, same here. fucked up ntp as well

[2018-02-27 21:44] kkellner opened #294 "UAA integration of Kibana allows Management menu for non-admins"
UAA integration of Kibana works well for non-admin except it allows Management Menu.

If a user is a OrgOwner (non-system org), Kibana nicely filters firehose data to show only what they should see.  However the "Management Menu" option (left side of Kibana screen) is accessible and allows a user to modify critical Kibana configuration items.

Can the Management menu be configured to only allow UA

[2018-02-28 05:39] Infra-Red commented on #294
Currently UAA integration works only with search queries. Restrictions for Management Menu page will require additional changes in auth plugin.

--
Regards,
Andrei

28 февр. 2018 г., 0:44 +0300, Kurt Kellner <notifications@github.com>, писал:

[2018-03-29 15:18] bandesz opened #295 "Starting a discussion about using blackbox in the syslog-release and logsearch"
Hi,

As probably some of you know there is a blackbox component in the syslog-release which is enabled by default and also enabled in cf-deployment (if you enable the syslog opsfile). The blackbox component tails all logs files under `/var/vcap/sys/log/*/*` and forwards these logs to the rsyslog daemon. There is also an other rule higher up to exclude all logs tagged "vcap.*".
Blackbox essentially

[2018-04-10 17:56] geofffranks opened #296 "New Release?"
Any plans for a new final release containing all the updates since the last one (august)? We have a dev release built from a while back, but it would be nice if we could use final releases + bosh.io instead

Really looking forward to being able to use the new stats server in the firehose-to-syslog ingestor

[2018-04-10 19:17] axelaris commented on #296
Hi @Infra-Red,
do you have a bit of time to cut the new release?

[2018-05-06 10:16] Infra-Red commented on #296
[v207](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/releases/tag/v207.0.0) was released.

[2018-05-06 10:16] #296 closed, assigned to Infra-Red

[2018-11-12 12:54] mordax7 opened #307 "Logstash ingestors loses connection to firehose"
ingestor_syslog (connection between firehose and elasticsearch and home to the filterchain)
In regular intervals, those ingestors stop working. To get them going again, one has to stop the ingestor_syslog and ingestor_cloudfoundry-firhose process and start them again in reverse order. There is no apparent reason given in the logs of either of those 3 services.
The only hint we were able to find, w

[2018-11-17 20:49] amhuber opened #308 "Version mismatch in cf-kibana package"
When trying to compile cf-kibana this error is being thrown:

    Error: Action Failed get_task: Task 2a8c232d-d25d-4297-4c4b-9b535ceae962 result: Compiling package cf-kibana: Running packaging script: Running packaging script: Command exited with 70; Stdout: Transferring 3845175 bytes....................
    Transfer complete
    Retrieving metadata from plugin archive
    Extracting plugin archi

[2018-11-19 09:13] Infra-Red commented on #308
Hi @amhuber ! Thanks for reporting the issue, I will update `cf-kibana` package and publish a new release for logsearch-for-cloudfoundry.

[2018-11-19 09:21] #308 closed, assigned to nobody

[2018-11-19 17:49] srothwell01 commented on #280
+1

Workaround is to modify the redirect URL of the UAA client

[2018-11-19 21:32] amhuber commented on #308
Thanks, I'm able to compile the package now using the new final release.

[2018-12-19 11:15] ghost opened #309 "Unable to render templates for job 'cf-kibana'. Errors are: - Error filling in template 'errand.sh.erb' (line 11: Can't find link 'cloud_controller') - Error filling in template 'manifest.yml.erb' (line 18: Can't find link 'cloud_controller')"
cf-kibana:
    cloudfoundry:
      system_domain: ****
      apps_domain:  ***
      api_endpoint: ****

I have already specified  the domain names in my manifest file  , then why do the code in errand.sh.erb template go to the else part

Refrence code

<%
  system_domain = nil
  if_p('cf-kibana.cloudfoundry.system_domain') do |prop|
    system_domain = prop
  end.else do
    system_domain = link(

[2019-01-03 07:01] #307 closed, assigned to nobody

[2019-01-03 07:01] mordax7 commented on #307
Got fixed with newest release v210.0.0

[2019-02-04 10:30] ghost opened #313 "how can i block platform logs to shipped from cf to elasticsearch?"
I need only the app logs to be visible on my kibana dashboard.
I tried to block the port 5514 in Security Group , but that didn't helped .
can someone guide me on this  ?

[2019-02-04 10:41] #309 closed, assigned to nobody

[2019-02-04 10:42] Infra-Red commented on #313
Hi @lordcf !
What you use to send platform logs from Cloud Foundry VMs to Logsearch?
Usually we prefer to deploy [syslog-release](https://github.com/cloudfoundry/syslog-release) as [BOSH runtime config](https://bosh.io/docs/runtime-config/) to configure platform logs forwarding. If this is the case, then you just need to remove syslog configuration.

[2019-02-04 11:15] ghost commented on #313
hi @Infra-Red ,
Thank you for your response .
I am use basic cf-deployment version 1.17, in which syslog-release is not used then too i am getting platform logs . Is there any other way in which logs are shipped?
If yes the please guide me , I am a new bee to ELK.

[2019-02-04 11:22] Infra-Red commented on #313
@lordcf Please check CF deployment manifest and BOSH runtime config for `syslog_forwarder` job.
[code]

[2019-02-04 11:36] ghost commented on #313
@Infra-Red  I just have syslog_drain in my manifest .
syslog_forwarder is present in an operations addons file , but i am not using that addons yet.

[2019-02-05 14:01] ghost commented on #313
now I am using syslog-forwarded release with cf-deployment v1.17 , but i am not using nats-to-syslog jobs in ELK .
and I am not getting platform logs .
Is is so that platform logs require nats-to-syslog job ?

[2019-02-05 14:10] Infra-Red commented on #313
@lordcf No, `nats-to-syslog` job is not required for this. Could you please list all indexes in Elasticsearch:
[code]

[2019-02-06 06:47] ghost commented on #313
@Infra-Red
yes , 2 indices get created namely:
logs-platform-2019-02-04
logs-app-2019-02-04
but when i see these indices in kibana , in logs-app-* i can see logs of all the apps ,
and in logs-platform-* i can see only one log which is of the smoke-test errand that i ran after deploying ELK

[2019-02-18 13:12] paul-mulvihill opened #314 "UAA users can see logs but not supporting documents"
UAA users are able to see logs for the orgs they are associated with. However when they select the "View Surrounding Documents" they receive the following error
![image](https://user-images.githubusercontent.com/15688266/52950505-4992e800-3377-11e9-9fdf-c54ca1f66cb0.png)

If the user is part of the system org (global admin)  they are able to see all logs without any problems.
current version of lo

[2019-03-11 22:41] mogul opened #315 "Gain alerting, SSO, RBAC via Open Distro for Elasticsearch"
In order to reduce the bespoke parts in logsearch-for-cloudfoundry and get more out-of-the-box features, it may be worth ~switching from plain old Elasticsearch to the~ adding the plugins from "Open Distro for Elasticsearch" which includes many features formerly only available in proprietary Elastic/X-pack extensions.

---

AWS, Netflix, and Expedia have released an open source "distro" for Elasti

[2019-03-12 06:17] axelaris commented on #315
Hi @mogul,
thank you for heads up!
That's probably make sense, are you going to submit a PR? ;-)

[2019-03-12 06:21] mogul commented on #315
I wish. :) Maybe once my team staffs back up, but we're barebones on cloud.gov at the moment.

[2019-03-12 06:36] Infra-Red commented on #315
Is it possible to upgrade existing clusters from Elastic distribution to Open Distro?

Sent from my iPhone

[2019-03-12 07:06] mogul commented on #315
No idea, it will definitely take some investigation. However given that
"Open Distro" is trying to stay compatible and ship patches to the upstream
distribution, it seems likely.

On Mon, Mar 11, 2019 at 11:36 PM Andrei Krasnitski <notifications@github.com>
wrote:

[2019-04-04 20:10] TheMoves commented on #284
Bump

[2019-04-24 08:07] vetin4ri opened #318 "upload-kibana-objects does not work with Kibana v6"
Hi,

I have seen the know issues note in releases tab, but is there any bug report tracking the issue?

Additionally, is there any more specific information about what has to be changed? I have seen the info: https://www.elastic.co/guide/en/elasticsearch/reference/6.7/removal-of-types.html, but I don't really see why it affects all imported objects as documents seem to be added to the without an e

[2019-04-25 11:27] Infra-Red commented on #318
Hi @vetin4ri ! Current implementation of `upload-kibana-object` errand tries to post all documents to `.kibana` index. Kibana v6 introduces [Saved Objects API](https://www.elastic.co/guide/en/kibana/6.3/saved-objects-api.html) which should be used for such operations. Also documents format was changed a bit. I will try to work on errand issue this week, but I don't have exact timelines when this i

[2019-04-25 11:41] vetin4ri commented on #318
Thanks, let me know if you need any help with that!

[2019-04-27 09:03] #318 closed, assigned to nobody

[2019-05-01 12:26] axelaris opened #320 "Uploading Kibana objects does not work for newly deployed clusters"
The issue is related to recently added [script](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/jobs/upload-kibana-objects/templates/bin/import-objects) for uploading Kibana objects by Kibana's own API.
The error is:
[code]
But when I login to Kibana in a browser at least once - scripts starts working. I believe the issue is related to authorization to **kibana_oa

[2019-05-02 00:17] mogul commented on #315
ODfE can now easily be installed plugin-by-plugin in any existing ELK:
https://discuss.opendistrocommunity.dev/t/download-and-install-your-plugin-of-choice-from-open-distro-for-elasticsearch-0-8-0/492

[2019-05-02 13:09] peterellisjones commented on #320
We're getting the same error. It works fine if we comment out the [assertion](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/jobs/upload-kibana-objects/templates/bin/import-objects#L14). This is because we are using Cloud Foundry as an oauth provider so login url is

[code]

and not

[code]

As the assertion expects

[2019-05-07 12:47] lavcraft opened #323 "Kibana upload-object fail with python error"
Hi. I am trying to run upload-kibana-objects errand. But it was fail with next error:

[code]

[2019-05-07 14:14] Infra-Red commented on #323
Hi @lavcraft ! Could you please share the versions of `logsearch` and `logsearch-for-cloudfoundry` releases that you have deployed? For me it looks like inconsistency between release versions.

[2019-05-07 14:17] lavcraft commented on #323
Hi @Infra-Red. Sure, I use the latest versions

[code]

With next stemcell `bosh-vsphere-esxi-ubuntu-xenial-go_agent  97.3*     ubuntu-xenial `

[2019-05-07 14:23] Infra-Red commented on #323
@lavcraft Looks fine. Can you ssh to the maintenance VM and check that `python3` package is in correct state:
[code]
You should see the the `requests` module files in this folder.

[2019-05-07 14:35] lavcraft commented on #323
Yes, i found `requests` package

[code]

[2019-05-07 14:41] lavcraft commented on #323
But, i see only ruby package declaration in upload-kibana-objects job spec. Not requests
Errand upload-kibana-objects run on separate VM. Not in mainatance..

[2019-05-07 15:20] axelaris commented on #323
It seems that you're using outdated version of [logsearch-deployment.yml](https://github.com/cloudfoundry-community/logsearch-boshrelease/blob/develop/deployment/logsearch-deployment.yml) file.
In latest versions all errands are colocated with maintenance job.

[2019-05-07 15:38] lavcraft commented on #323
@axelaris i think about it, but upload-kibana-objects errand locate in `logsearch-for-cloudfoundry`. I use logsearch-deployment.yml with modification for logsearch-for-cloudfoundry release. Where i can find example deploymeny.yml with logsearch-for-cloudfoundry ? I cant find templates from deployment docs [templates/stub.logsearch-for-cf.standalone-kibana-with-auth.yml](https://github.com/cloudfou

[2019-05-07 15:42] Infra-Red commented on #323
@lavcraft You should use the following ops file for logsearch-for-cloudfoundry extension:
https://github.com/cloudfoundry-community/logsearch-boshrelease/blob/v210.2.0/deployment/operations/cloudfoundry.yml

[2019-05-08 08:41] lavcraft commented on #323
@Infra-Red many thanks! Looks fine

[2019-05-08 09:15] lavcraft commented on #323
Okay, it works. But the next problem was appear:
How to disable SSL certificate verification during kibana objects uploading? Because we are using self-signed certificate inside VPN subnet.

[code]

[2019-05-13 08:14] Infra-Red commented on #279
Hi @neppalli757. I'm going to close this issue due to inactivity, but feel free to open it if you need more help.

[2019-05-13 08:14] #279 closed, assigned to nobody

[2019-05-20 08:31] lavcraft commented on #323
@Infra-Red can you recommend sth to resolve this problem?

[2019-05-20 09:13] Infra-Red commented on #323
Hi @lavcraft ! I've added option to skip ssl validation in the following commit: https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/0fd508a506d01ced5c84ac89b96ed444f949b9b7.

[2019-05-20 09:23] lavcraft commented on #323
@Infra-Red very appreciated!
But, verify flag really doesn't required in post/put https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/c4f9843a4de26820647ae78069c4905f3aa7af71/jobs/upload-kibana-objects/templates/bin/import-objects#L39,L45 ?

[2019-05-22 09:28] Infra-Red commented on #315
Elastic just announced that security features are now free for everyone. https://www.elastic.co/blog/security-for-elasticsearch-is-now-free
Probably we all know why 😄

[2019-05-23 09:18] lavcraft commented on #323
@Infra-Red thanks! I am waiting for release with 0fd508a 👍

[2019-05-26 19:53] mogul commented on #315
It's not all of their security features, though, and not in the open source version:
https://www.elastic.co/subscriptions

[2019-06-09 10:00] bgandon opened #326 "Kibana fails with an “hapi-auth-cookie already registered” error"
Hi guys,

Hope you are doing great!

Whenever I deploy a brand new Logsearch `v210.2.0`, or I upgrade from Logsearch `v209.1.0` to `v210.2.0`, I always hit a `Plugin hapi-auth-cookie already registered` error.

Initial set of versions:
[code]

Upgraded versions:
[code]

Stack trace found in `/var/vcap/sys/log/kibana/kibana.stderr.log`:
[code]

I'm deploying a pretty standard Logsearch deployment,

[2019-07-16 09:48] paul-mulvihill commented on #314
Anyone seen this or able to point me in the right direction?

[2019-08-12 10:23] axelaris commented on #326
Hi @bgandon,
this issue should be fixed in v210.3.0
Could you please check and confirm?

[2019-08-12 10:24] axelaris commented on #323
Released

[2019-08-12 10:24] #323 closed, assigned to nobody

[2019-08-12 10:29] axelaris commented on #283
Hi @ishwarps
could you please check if the issue is still actual in the latest release?
Thanks.

[2019-09-13 00:11] pritesh-patel95 opened #329 "upload-kibana-objects fails on the first run"
Running a concourse pipeline in the following order: bosh-deploy > create-uaa-user-errand > smoke-tests-errand > upload-kibana-objects errand

The `upload-kibana-objects` errand fails every time with the following error:

[code]

The errand runs successfully when run a second time - i.e., via BOSH cli or re-running the pipeline.

[2019-09-18 09:30] poligraph opened #330 "update golang package to 1.13"
smoke-tests fail if we don't have dev-tools installed on maintenance vm, because of bug in `go test` in 1.12

we need to wait till golang 1.13 bosh-package will be released https://github.com/bosh-packages/golang-release/issues/17

[2019-09-27 10:59] #330 closed, assigned to nobody

[2019-10-07 23:28] bengerman13 opened #331 "upload-kibana-objects fails when using domain names other than `logs` and `login`"
running the upload-kibana-objects job fails with this error on our system, where we're using urls other than `logs.$SYSTEM_DOMAIN` and `login.$SYSTEM_DOMAIN`

[code]
that's happening [here](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/jobs/upload-kibana-objects/templates/bin/import-objects#L23).

I'm happy to do the work to make this variable (with the current

[2019-10-09 20:42] bengerman13 commented on #331
I looked further at this, and it's worse for us than I thought - this successfully uploaded objects to the wrong instance (we have 2 logsearch instances in each environment with different configs and urls)

[2019-10-11 19:12] kinjelom opened #333 "ingestor_cloudfoundry-firehose - error pre-filling cache: cannot fetch token: 401 Unauthorized"
After CF UAA restart, ingestor doesn't start with the old UAA client.

- `cf-deployment`: v12.1.0 (UAA: 74.2.0)
- `logsearch`/`logsearch-for-cloudfoundry`: v210.3.1,  `firehose-to-syslog` v0.0.0 ;)

### Steps to reproduce
- logsearch/ingestor: `/var/vcap/jobs/ingestor_cloudfoundry-firehose/bin/pre-start`
- cf/uaa: `monit restart uaa`
- logsearch/ingestor: `monit restart ingestor_cloudfoundry-fireh

[2019-10-13 02:59] kinjelom commented on #333
In my deployment CF/UAA and Logsearch/Ingestor was changing  independently `firehose-to-syslog` client secret. This PR fix this case: https://github.com/cloudfoundry-community/logsearch-boshrelease/pull/153

[2019-10-13 02:59] #333 closed, assigned to nobody

[2019-11-08 05:31] TheMoves commented on #329
I had to log in manually as CF Admin ID into Kibana to allow the upload-kibana-objects to actually succeed

[2020-01-15 10:52] #320 closed, assigned to Infra-Red

[2020-01-16 19:32] bengerman13 opened #338 "Only 50 spaces per user"
The kibana-auth-plugin only caches 50 spaces per user, so if a user has roles in more than 50 spaces, they will not be able to view logs in all their spaces.

[2020-02-04 19:39] pburkholder opened #340 "Upgrade to Kibana 7.X (or at least 6.8.6)"
We'd like some findings on Content-Security-Policy to go away, so upgrading to 7.X would take care of that.

Thanks, Peter

[2020-02-18 16:36] axelaris commented on #340
It almost there: https://github.com/cloudfoundry-community/logsearch-boshrelease/tree/v7
Any tests/feedback are welcome!

[2020-02-21 10:11] axelaris commented on #338
PR is closed

[2020-02-21 10:11] #338 closed, assigned to nobody

[2020-02-21 10:12] axelaris commented on #331
Should be resolved by https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/pull/336

[2020-02-21 10:12] #331 closed, assigned to nobody

[2020-02-21 10:18] axelaris commented on #329
It can be resolved to setting this value to `true`: https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/develop/jobs/create-uaa-client/spec#L26

[2020-02-21 10:18] #329 closed, assigned to nobody

[2020-02-21 10:19] #326 closed, assigned to nobody

[2020-02-21 10:23] #313 closed, assigned to nobody

[2020-02-21 10:25] #295 closed, assigned to nobody

[2020-02-21 10:27] #283 closed, assigned to nobody

[2020-02-21 10:28] #280 closed, assigned to nobody

[2020-02-21 10:28] #275 closed, assigned to nobody

[2020-02-21 10:37] axelaris commented on #274
Outdated

[2020-02-21 10:37] #274 closed, assigned to nobody

[2020-02-21 10:39] #273 closed, assigned to nobody

[2020-02-21 10:39] #271 closed, assigned to nobody

[2020-02-21 10:39] #257 closed, assigned to nobody

[2020-02-21 10:39] #251 closed, assigned to nobody

[2020-02-21 11:01] axelaris commented on #224
Fixed by https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/06c16976fe3110e6fab6e90011d52cb6bf0095f0

[2020-02-21 11:01] #224 closed

[2020-02-21 11:02] axelaris commented on #284
https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/issues/33

[2020-02-21 11:02] #284 closed, assigned to nobody

[2020-02-21 17:54] bengerman13 commented on #338
@axelaris FWIW - the PR was closed because I tested more and the fix didn't work, but this issue still exists.

We're tracking and trying to fix ourselves, so feel free to leave this closed if it's not useful to others.

[2020-02-26 10:44] axelaris commented on #340
Done: https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/1eab92216c3c9b316335f7ca2841dccc14c75af0

[2020-02-26 10:44] #340 closed, assigned to axelaris

[2020-02-26 13:21] mymasse opened #344 "RTR logs always contain the `router/parsing_failed` tag even when parsed successfully"
Whenever RTR logs are parsed they always contain the tag `router/parsing_failed`.

Looking at the code it looks like that tag is added in the `platform-gorouter.conf` snippet, however these logs would have already been parsed by `app-logmessage-rtr.conf` snippet loaded before.

Should the `platform-gorouter.conf` include some other check than just `[@source][component] == "gorouter"` which is true

[2020-02-28 14:38] mymasse opened #345 "Dashboards and Visualizations don't work in a fresh install of 211.0.1"
Did a fresh deployment of 211.0.1 and most (if not all) dashboards and visualizations don't work and return errors:
[code]
and
[code]

Digging a little bit it looks like the removal of the index mappings caused this. When checking the mappings I have as an example these two:
- @cf.app of type string with searchable true
- @cf.app.keywork of type string with searchable true and aggregatable true

T

[2020-02-28 15:28] mymasse commented on #345
I think at a minimum we need to have the index-mapping that was specified in `logsearch-boshrelease/jobs/elasticsearch_config/templates/index-templates/index-mappings.json.erb`, more specifically the `dynamic_templates`

[2020-02-28 15:34] mymasse commented on #345
Could also maybe added in the index-settings.json instead?

[2020-02-28 19:00] mymasse commented on #345
Temporarly added and index template in Kibana with just this dynamic mapping and that solved most issues:
[code]
I still get a problem with the `geoip.location` field not being present

[2020-02-28 19:10] mymasse commented on #345
And now adding this mapping fixes the location.
[code]
So basicaly what was in the dopped index-mapping

[2020-02-28 19:12] axelaris commented on #345
Nice job! Would you submit a PR?

[2020-02-28 19:17] mymasse commented on #345
Do you want me to put the whole index-mapping back? or just with these settings? I would be tempted to put everything back but I have no way in testing if this works. My deployment is on a private network so I can't easily test this.

[2020-03-03 16:10] TheMoves commented on #345
Ah, was also affected by this! Glad i stumbled across this

[2020-03-04 17:51] pburkholder commented on #340
@axelaris Terrific! Thanks so much. If you don't hear from me, it means it's all gone well!

[2020-03-06 14:38] mymasse opened #347 "logsearch-smoke-tests submodules points to an unknown commit"
When cloning the repo and initializing the submodules it fails for the `logsearch-smoke-tests` since the commit doesn't exist.

https://github.com/cloudfoundry-community/logsearch-smoke-tests/tree/ae4c01c4fdd80a846e619f7b7757ee8bff5b189a

[2020-03-17 08:27] #345 closed, assigned to axelaris

[2020-03-17 09:32] axelaris commented on #347
Fixed

[2020-03-17 09:32] #347 closed, assigned to nobody

[2020-03-17 12:24] #344 closed, assigned to nobody

[2020-03-17 12:44] axelaris commented on #344
Fixed by https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/commit/51681be68c287375772c22ad86bbb21d90c53c6f

[2020-03-25 12:17] r0bm3 opened #348 "templates not in repo anymore"
The documentation refers to a templates folder for kibana configurations; but, this was dropped as of tag v210.2.0.  Please update documentation or add the templates back in to the master branch

[2020-03-25 12:24] axelaris commented on #348
Hi @r0bm3, thank you for heads up!
It will be fixed as part of #33.

[2020-03-25 12:24] #348 closed, assigned to nobody

[2020-05-12 19:21] mordax7 opened #350 "Question regarding scripted fields"
We currently got the version `v210.3.0` of the logsearch for cloudfoundry deployed. One of our tenants found out that when he tries to create a scripted field in Kibana he will get a 500 returned in the preview, same goes when he was trying to save it. When trying to recreate the problem. with our users that are permitted on the system organisation, we were not able to do it. The API call sent to

[2020-09-25 08:12] riddhichheda opened #356 "No logs available."
Hello Team,
We are using ELK(v5.6.4) as a standalone deployment on bosh to get app logs from CF. Elk deployment uses these releases logsearch/208.0.0 logsearch-for-cloudfoundry/206.0.0. CF deployment uses v6 releases. We have deployed Kibana as an app in CF. One day suddenly Kibana dashboard was not displaying any logs for approx. 15 mins until we restarted all ELK processes. We checked all the lo

[2020-11-06 19:07] mymasse opened #357 "Unable to install kibana plugins"
Using logsearch-boshrelease and logsearch-for-cloudfoundry version 211.1.0

We have created a bosh release with ES and Kibana plugins and are trying to deploy these. This seemed to have worked for the ES plugins but not for the Kibana plugins.

Our bosh release makes the plugins available in `/var/vcap/packages/es-7.6.1-plugins` and we wrote an ops file to add the Kibana plugins in the cf-kibana j

[2020-11-06 19:50] mymasse commented on #357
Found this on a couple of issues in github:

`It seems that after the last update of Kibana 7.6.0, the installation of the plugins must be done from the Kibana home directory.`

[2020-11-09 15:34] mymasse commented on #357
Found a fix for this, PR to follow

[2020-11-24 18:50] mymasse opened #359 "Following Kibana permalinks redirects to the space selector if the user is not logged in"
### Version

- Logsearch-boshrelease: v211.1.0
- Logsearch-for-cloudfoundry: v211.1.0

### Steps to reproduce

1. Get a permalink from Kibana
2. Logout or from a private browsing window
3. Paste the permalink
4. Get redirected to the CF UAA for login
5. Enter credentials

### Expected result

After login get directed to the provided permalink

### Actual result

Get redirected to the Space Selecto

[2020-11-24 18:50] mymasse commented on #359
@braunsonm Feel free to add the more technical details you found

[2020-11-25 14:24] braunsonm commented on #359
Hey so I took at look at this yesterday.

The usually method would be to encode the redirect URL in the `state` parameter in OAuth requests. However you do not have control over this in the bell library, the state is hard-coded. My other idea would be to save the redirect URL as a cookie when you trigger the redirect to `/login` [here](https://github.com/cloudfoundry-community/logsearch-for-cloudf

[2020-12-03 05:52] ValarCodulis opened #361 "Smoke test failing because of no compatible go lang version in cloud foundry"
We can see that the smoke test job is still using 1.13.X version of GoLang package which fails when 1.13.X is not available in cloud foundry buildpacks. Is there any plans to bump the golang version to 1.14.x or latest. Thank You in advance.

[2020-12-21 21:17] bengerman13 opened #362 "Update to 7.9.3"
This is more to start a conversation than open an issue - LMK if there's a better forum for this.

Our team recently updated our fork [cloud-gov/logsearch-for-cloudfoundry](https://github.com/cloud-gov/logsearch-for-cloudfoundry) (and our fork [cloud-gov/logsearch-boshrelease](https://github.com/cloud-gov/logsearch-boshrelease)) to 7.9.3. We encountered and fixed a few issues with the kibana-auth-

[2020-12-22 11:57] Infra-Red commented on #362
Hi @bengerman13,

I can help to make the objects available in the blobstore. Please provide the links and expected path in this repo.

Thanks!

Regards,
Andrei

[2020-12-31 22:48] bengerman13 commented on #362
Thanks @Infra-Red !
I'll get working on a PR next week most likely. Might take some time because our fork has diverged for other reasons, but should be able to get something to you relatively soon.

[2021-01-05 14:19] wpt1313 commented on #314
The root cause of the issue is in [routes.js](https://github.com/cloudfoundry-community/logsearch-for-cloudfoundry/blob/06dcccb8ca13d73fc021347c6de5d12a83c7db48/src/kibana-cf_authentication/server/routes.js) — whenever a user is not a member of the system org, the original request to Elasticsearch that is generated by Kibana is modified by injecting two [`bool` filters](https://www.elastic.co/guid

[2021-01-09 00:24] bengerman13 commented on #362
I've opened #363 to get this ball rolling

[2021-01-11 21:49] bengerman13 commented on #315
@axelaris I see this is `in progress` and I also see the new tls-related ODfE features. Is someone already working on setting up document-level security using ODfE? If not, is that something that would be welcome in a PR? I think this could effectively replace the existing auth plugin.

[2021-06-03 15:01] kinjelom opened #365 "Legacy kibana-auth-plugin have to be migrated to the Kibana Platform"
Kibana 7.10.0+:

https://www.elastic.co/guide/en/kibana/7.10/release-notes-7.10.0.html

- Migrating legacy plugins to the Kibana Platform: https://www.elastic.co/guide/en/kibana/current/migrating-legacy-plugins.html
- Migration examples: https://www.elastic.co/guide/en/kibana/current/migrating-legacy-plugins-examples.html#migrating-legacy-plugins-examples

[2021-12-20 15:30] #356 closed, assigned to nobody

[2022-02-09 11:05] KshitijaR16 opened #366 "Plan to change auth plugin"
Hi team,

Any plan to change kibana-cf_authentication as per kibana with version higher than 7.10.

[2022-02-15 11:28] KshitijaR16 commented on #366
Hi team,
Any update on this